.logo {
 width: 172px;
 height: 52px;
 background: url(../../img/logo.svg) no-repeat center / contain;

 &.logo--white {
  background: url(../../img/logo-white.svg) no-repeat center / contain;
 }
}

.btn {
 display: block;
 border-radius: 100px;
 background-image: linear-gradient(to right, #e04943 0%, #d83540 100%);
 border: none;
 color: $color-white;
 font-family: Helvetica, sans-serif;
 font-size: 13px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
 text-align: center;
 letter-spacing: 1.86px;
 padding: 16px 40px;
 transition: 0.5s;
 cursor: pointer;
 outline: none;
 &:hover {
  color: $color-white;
  transform: scale(1.05);
 }

 &.btn--gray {
  background: $color-alto-3;
 }
 &.btn--2 {
  font-family: GillSans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
 }
}

.page-subtitle {
 color: $color-silver-chalice-3;
 font-size: 15px;
 font-weight: 600;
 line-height: 42px;
 text-transform: uppercase;
}

.socials {
 display: flex;
 align-items: center;

 .socials__item {
  margin-right: 13px;
  &:hover {
    > a svg {
     fill: $color-valencia;
    }
  }
  &:last-child {
   margin-right: 0;
  }

  > a {
   display: block;

   svg {
    fill: $color-white;
    transition: 0.5s;
   }
  }
 }
}

.content {
 flex: 1;

 &.content--profile {
  padding: 30px 50px;
 }
}

.content-nav {
 display: flex;
 align-items: center;
 border-bottom: 1px solid $color-gallery;
 padding: 22px 35px;

 .content-nav__item {
  margin-right: 60px;
  &:last-child {
   margin-right: 0;
  }
 }
}

.content-inner {
 padding: 32px 35px;
}

.month-divider {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 32px;
 &:before, &:after {
  content: '';
  height: 1px;
  background: $color-cod-gray;
  flex: 1;
 }

 .month-divider__text {
  font-family: GaramondPremierPro, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 6.25px;
  padding: 0 20px;
 }

 &.month-divider--disabled {
  opacity: 0.5;

  &:before, &:after {
   background: $color-dusty-gray;
  }
  .month-divider__text {
   color: $color-gray;
  }
 }
}

.back-link {
 display: flex;
 align-items: center;
 //background: url(../../img/client/common/arrow-back.svg) no-repeat center left;
 color: $color-nobel;
 font-size: 12px;
 font-weight: 600;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 2.57px;
 margin-bottom: 33px;
 &:hover {

  .back-link__icon use {
   fill: $color-valencia;
   stroke: $color-valencia;
  }
 }

 .back-link__icon {
  margin-right: 17px;

  use {
   transition: 0.5s;
  }
 }
}

.link-3-dots {
 &, & button {
  border: none;
  color: $color-black;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 0 2px;
  position: relative;
  outline: none;
  cursor: pointer;
 }

 &:hover, &:hover button {
  color: $color-valencia;

  .link-3-dots__dots .link-3-dots__dot {
   background: $color-alto;

   &:nth-child(2), &:nth-child(3) {left: 0;}
  }
 }

 .link-3-dots__dots {
  position: absolute;
  left: 0;
  bottom: 0;

  .link-3-dots__dot {
   width: 2px;
   height: 2px;
   border-radius: 50%;
   background: $color-black;
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.5s;
   &:nth-child(2){left: 6px;}
   &:nth-child(3){left: 12px;}
  }
 }
}

.avatar {
 width: 46px;
 height: 46px;
 border-radius: 50%;
 position: relative;

 img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
 }
}

.dialog {

}
.dialog-header {
 display: flex;
 align-items: center;

 .dialog-header__avatar {
  margin-right: 15px;
 }
 p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.17px;
 }
 .dialog-header__name {
  color: $color-black;
  flex: 1;
 }
 .dialog-header__date {
  color: $color-cod-gray-03;
  margin-left: 15px;
 }
}
.dialog-textarea {
 padding-right: 77px;

 .dialog-header {

  .dialog-header__avatar {
   width: 53px;
   height: 53px;
  }
  .dialog-header__name {
   font-size: 20px;
   line-height: 23px;
   letter-spacing: -0.22px;
  }
 }

 .dialog-textarea__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 68px;
  margin-top: 10px;

  .dialog-textarea__form-submit {
   margin-top: 17px;
  }
 }
}
.dialog-messages {
 margin-top: 55px;
}
.dialog-message {
 margin-bottom: 30px;
 &:last-child {
  margin-bottom: 0;
 }

 .dialog-header {
  padding-right: 77px;
 }

 &.dialog-message--inner {
  margin-left: 61px;
  border-bottom: 1px solid $color-gallery;

  .dialog-header, .dialog-message-content {
   padding-right: 0;
  }
  .dialog-message-content {
   border-bottom: 0;
  }
 }
}
.dialog-message-content {
 border-bottom: 1px solid $color-gallery;
 padding: 0 77px 26px 0;
 margin: 10px 0 0 61px;

 .dialog-message-content__text {
  color: $color-cod-gray-06;
  font-size: 16px;
  line-height: 24px;
 }
 .dialog-message-content__answer {
  border: none;
  background: url(../../img/client/common/three-dots-red.svg) no-repeat center left;
  outline: none;
  color: $color-valencia;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.17px;
  margin-top: 10px;
  padding-left: 20px;
  cursor: pointer;
 }
}
.dialog-more {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 26px;
 &:hover {

  .dialog-more__button {color: $color-valencia;}
  .dialog-more__icon use {stroke: $color-valencia;}
 }

 .dialog-more__button {
  border: none;
  background: none;
  outline: none;
  color: $color-nobel;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2.57px;
  cursor: pointer;
 }
 .dialog-more__icon {
  margin-left: 12px;

  use {
   transition: 0.5s;
  }
 }
}

.formgroup-underline {

 label {
  color: $color-cod-gray-03;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
 }
 input, select {
  background: transparent;
  border: none;
  border-bottom: 1px solid $color-dusty-gray-3;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 12px 15px;
  text-transform: none;
 }
 select {
  background: url(../../img/client/common/arrow-more.svg) no-repeat center right 15px;
  text-align: left;
  padding-right: 25px;
 }

 .formgroup-underline__inputs {
  display: flex;
  justify-content: space-between;

  .formgroup-underline__input-1 {
   width: 60px;
  }
  .formgroup-underline__input-2 {
   width: 140px;
  }
  .formgroup-underline__input-3 {
   width: 100px;
  }

  p {
   color: $color-cod-gray-02;
   font-size: 12px;
   font-weight: 400;
   line-height: 44px;
   text-align: center;
  }
 }
}

.list-item-dot {
 padding-left: 22px;
 position: relative;
 &:before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: $color-gallery;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  transition: 0.5s;
 }

 &.list-item-dot--active {

  &:before {
   width: 6px;
   height: 6px;
   background-color: $color-valencia;
   left: 6px;
   top: calc(50% - 3px);
  }
 }
}