#consultations {

}
#consultations-single {
 padding: 33px 0 74px;
}

.consultations-list {
 padding: 41px 0 0;
}

.consultations-list-item {
 display: flex;
 border-bottom: 1px solid $color-gallery;
 padding-bottom: 38px;
 margin-bottom: 37px;

 .consultations-list-item__thumb {
  width: 300px;
  height: 300px;

  img {
   display: block;
   width: 100%;
   height: 100%;
  }
 }

 .consultations-list-item__content {
  flex: 1;
  background: url(../../img/client/common/three-lines.svg) no-repeat top 80px right 70px;
  padding: 36px 70px 0 70px;
 }

 .consultations-list-item__title {
  color: $color-black;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 36px;
  font-style: italic;
  line-height: 36px;
 }
 .consultations-list-item__niche {
  color: $color-black-03;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
 }
 .consultations-list-item__about {
  margin-top: 43px;
 }

 .consultations-list-item__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
 }

 .consultations-list-item__price {
  color: $color-valencia;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  span {
   font-family: GaramondPremierPro, sans-serif;
   font-size: 24px;
   margin-left: 30px;
  }
 }
 .consultations-list-item__link {

 }

 &.consultations-list-item--single {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;

  .consultations-list-item__content {
   background: url(../../img/client/common/three-lines.svg) no-repeat top 30px right 65px;
   padding: 36px 25px 0 70px;
  }
 }
}

.consultations-list-item-form {
 display: flex;
 background-color: $color-white-sand-05;
 padding: 67px 66px 66px 55px;
 margin-top: 59px;

 .consultations-list-item-form__left {
  flex: 1;
 }

 .consultations-list-item-form__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 220px;
  margin-left: 75px;
 }

 .consultations-list-item-form__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: GaramondPremierPro, sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 50px;

  h1 {
   color: $color-cod-gray;
   font-size: 16px;
  }
  p {
   color: $color-valencia;
   font-size: 24px;
  }
  .consultations-list-item-form__price-divider {
   flex: 1;
   height: 12px;
   border-bottom: 1px dotted $color-dusty-gray-2;
   margin: 0 10px;
  }
 }

 .consultations-list-item-form__formgroup {
  margin-bottom: 50px;
  &:last-child {
   margin-bottom: 0;
  }

  &.consultations-list-item-form__formgroup--time {

   .formgroup-underline__inputs {
    justify-content: flex-start;

    P {
     margin: 0 18px;
    }
   }
  }
 }
}