.feed-block {
 border-bottom: 1px solid $color-gallery;
 padding-bottom: 50px;
 margin-bottom: 50px;
 position: relative;
 &:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
 }

 .feed-block__thumb {
  background: no-repeat center / cover;
  height: 300px;
  padding: 97px 73px 20px;
  position: relative;
 }

 .feed-block__title {
  color: $color-white;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 40px;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 5.56px;
 }
 .feed-block__subtitle {
  color: $color-white;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 30px;
  font-style: italic;
  line-height: 54px;
 }

 .feed-block__link {
  color: $color-black;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 2px;
  position: relative;
  &:hover {
   color: $color-valencia;

   .feed-block__link-dots .feed-block__link-dot {
    background: $color-alto;

    &:nth-child(2), &:nth-child(3) {left: 0;}
   }
  }

  .feed-block__link-dots {
   position: absolute;
   left: 0;
   bottom: 0;

   .feed-block__link-dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: $color-black;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    &:nth-child(2){left: 6px;}
    &:nth-child(3){left: 12px;}
   }
  }
 }

 .feed-block__pinned-icon {
  width: 58px;
  height: 61px;
  background: url(../../img/client/common/pin-icon.svg) no-repeat center, url(../../img/client/common/drop-icon-3.svg) no-repeat center / contain;
  position: absolute;
  top: 15px;
  left: -23px;
 }

 .feed-banner {
  border-bottom: 0;
  padding: 0;
  margin: 39px 0;
 }

 &.feed-block--pinned {
  padding-bottom: 0;
  border-bottom: 0;

  .feed-block-info {
   left: 75px;
  }

  .feed-block-main {
   background-color: $color-white-sand-05;
   padding: 43px 50px 0;
  }
  .feed-block-footer {
   background-color: $color-white-sand-05;
   padding: 0 50px 50px 100px;
  }
 }

 &.feed-block--disabled {
  margin-bottom: 165px;

  .feed-block__thumb {opacity: 0.5;}
 }

 &.feed-block--single {
  border-bottom: 1px solid $color-gallery;
  padding-bottom: 23px;
  margin-bottom: 23px;
 }
}

.feed-block-info {
 display: flex;
 align-items: center;
 position: absolute;
 top: 33px;
 left: -16px;

 .feed-block-info__item {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: $color-black-02;
  padding: 0 14px;
  margin-right: 10px;

  .feed-block-info__item-icon {
   margin-right: 7px;
  }
  .feed-block-info__item-text {
   color: $color-white-07;
   font-size: 15px;
   line-height: 30px;
  }

  &.feed-block-info__item--type {
   background-color: $color-valencia;

   .feed-block-info__item-text {
    color: $color-white;
   }
  }
 }
}

.feed-block-live-info {
 display: flex;
 position: absolute;
 bottom: 35px;
 right: 37px;

 .feed-block-live-info__item {
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: $color-white-05;
  padding: 0 19px;
  margin-right: 15px;
  transition: 0.5s;
  &:last-child {
   margin-right: 0;
  }

  .feed-block-live-info__item-icon {
   margin-right: 15px;
  }
  .feed-block-live-info__item-text {
   color: $color-valencia;
   font-family: GaramondPremierPro, sans-serif;
   font-size: 19px;
   font-style: italic;
   line-height: 24px;
  }

  &.feed-block-live-info__item--rules {
   background-color: $color-valencia;
   cursor: pointer;
   &:hover {
    opacity: 0.7;
   }

   .feed-block-live-info__item-text {
    color: $color-white;
   }
  }
 }
}

.feed-block-favorite-button {
 width: 23px;
 height: 22px;
 position: absolute;
 top: 37px;
 right: 39px;
 cursor: pointer;
 &:hover {

  svg use {
   fill: $color-valencia;
   stroke: $color-valencia;
  }
 }

 svg {
  width: 100%;
  height: 100%;

  use {
   transition: 0.5s;
  }
 }
}

.feed-block-main {
 display: flex;
 padding: 43px 0 0;

 .feed-block-main__date {
  width: 72px;

  p {
   font-family: GaramondPremierPro, sans-serif;
   color: $color-dusty-gray-05;
   font-size: 16px;
   line-height: 24px;

   span {
    display: block;
    font-size: 26px;
   }
  }
 }
 .feed-block-main__text {
  flex: 1;
  background: url(../../img/client/common/three-lines.svg) no-repeat top right;
  font-size: 16px;
  line-height: 24px;
  padding-right: 80px;

  p, h1, h2, h3, h4, h5, h6 {
   margin-bottom: 34px;
  }

  a {
   color: $color-cardinal;
   text-decoration: underline;
  }

  img {
   max-width: 100%;
   height: auto;
   display: block;
   margin-bottom: 13px;
  }

  .feed-block-main__text-caption {
   color: $color-silver-chalice;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
  }
 }

 .feed-block-main__video {
  background: no-repeat center / cover;
  height: 400px;
  margin-bottom: 34px;
  position: relative;
  cursor: pointer;
  &:before {
   content: '';
   width: 100%;
   height: 100%;
   background: $color-black-05;
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.5s;
  }
  &:after {
   content: '';
   width: 72px;
   height: 68px;
   background: url(../../img/client/common/video-play.svg) no-repeat center / contain;
   position: absolute;
   top: calc(50% - 34px);
   left: calc(50% - 36px);
  }

  .feed-block-main__video-closed {
   width: 100%;
   height: 100%;
   background: url(../../img/client/feed/video-preload.png) no-repeat center / cover;
   padding: 187px 171px 54px 83px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;

   p, h1, h2, h3 {
    margin: 0;
   }

   .block-closed__header {

    .block-closed__header-title {
     color: $color-white;
    }
   }

   .block-closed__main {
    margin-top: 31px;

    .block-closed__main-text {
     color: $color-white;

     h3 {
      color: $color-alto-3;
     }
    }

    .block-closed__main-link {
     color: $color-white;
     text-decoration: none;
    }
   }
  }

  &.feed-block-main__video--closed {
   &:before {
    background: $color-black-078;
   }
   &:after {
    opacity: 0.34;
   }
  }
 }
 &.feed-block-main--no-lines {

  .feed-block-main__text {
   background: transparent;
  }
 }
}

.feed-block-footer {
 display: flex;
 justify-content: space-between;
 padding-left: 72px;
}

.feed-block-footer-list {
 display: flex;
 align-items: center;

 .feed-block-footer-list__item {
  margin-right: 40px;
  &:last-child {
   margin-right: 0;
  }
  &:hover, &.feed-block-footer-list__item--active {

   .feed-block-footer-list__link {

    .feed-block-footer-list__icon svg {

     use {
      fill: $color-valencia;
     }
    }
    .feed-block-footer-list__text {
     color: $color-valencia;
    }
   }
  }

  .feed-block-footer-list__link {
   display: flex;
   align-items: center;

   .feed-block-footer-list__icon {
    margin-right: 9px;

    svg {

     use {
      fill: $color-alto;
      transition: 0.5s;
     }
    }
   }
   .feed-block-footer-list__text {
    color: $color-cod-gray;
    font-family: GaramondPremierPro, sans-serif;
    font-size: 18px;
    line-height: 24px;
    transition: 0.5s;
   }
  }
 }
}

.feed-banner {
 border-bottom: 1px solid $color-gallery;
 padding-bottom: 50px;
 margin-bottom: 50px;

 .feed-banner__link {
  display: block;
  height: 200px;
  background: no-repeat center / cover;
  &:hover {
   opacity: 0.85;
  }
 }
}

.feed-single-dialog {

}