html {
 min-height: 100vh;
}
body {
 height: 100vh;
 display: flex;
 flex-direction: column;
 font-family: GillSans, sans-serif;
 color: $color-cod-gray;
 font-size: 16px;
 line-height: 24px;
}

.main {
 display: flex;
 flex-direction: column;
 position: relative;
 flex: 1 0 auto;

 &.main--bg-bottom {
  background: url(../../img/client/common/bottom-bg.png) repeat-x center bottom;
 }
 &.main--aside {

  .main-wrapper {
   flex: 1;
   display: flex;
   justify-content: space-between;
  }
 }
}

.main-wrapper {
 width: 1180px;
 margin: 0 auto;
}

.br-lg {
 display: block;
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.br-lp {
 display: none;
 @include laptop {display: block;}
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.br-lp-md {
 display: none;
 @include laptop {display: block;}
 @include tablet {display: block;}
 @include mobile {display: none;}
}
.br-lp-sm {
 display: none;
 @include laptop {display: block;}
 @include tablet {display: block;}
 @include mobile {display: block;}
}
.br-lg-md {
 display: block;
 @include tablet {display: block;}
 @include mobile {display: none;}
}
.br-lg--sm {
 display: block;
 @include tablet {display: none;}
 @include mobile {display: block;}
}
.br-md-sm {
 display: none;
 @include tablet {display: block;}
 @include mobile {display: block;}
}
.br-md {
 display: none;
 @include tablet {display: block;}
 @include mobile {display: none;}
}
.br-sm {
 display: none;
 @include tablet {display: none;}
 @include mobile {display: block;}
}
.br-sm-text {
 display: none;
 @include tablet {display: none;}
 @include mobile {display: inline;}
}

.inline-lg {
 display: inline;
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.inline-lp {
 display: none;
 @include laptop {display: inline;}
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.inline-lp-md {
 display: none;
 @include laptop {display: inline;}
 @include tablet {display: inline;}
 @include mobile {display: none;}
}
.inline-lp-sm {
 display: none;
 @include laptop {display: inline;}
 @include tablet {display: inline;}
 @include mobile {display: inline;}
}
.inline-lg-md {
 display: inline;
 @include tablet {display: inline;}
 @include mobile {display: none;}
}
.inline-md-sm {
 display: none;
 @include tablet {display: inline;}
 @include mobile {display: inline;}
}
.inline-md {
 display: none;
 @include tablet {display: inline;}
 @include mobile {display: none;}
}
.inline-sm {
 display: none;
 @include tablet {display: none;}
 @include mobile {display: inline;}
}

.hidden {display: none;}

.clear {
 display: table;
 clear: both;
}

p, h1, h2, h3, h4, h5, h6, img {
 display: block;
}

a {
 color: $color-dusty-gray;
 font-size: 15px;
 line-height: 19px;
 font-family: GillSans, sans-serif;
 text-decoration: none;
 cursor: pointer;
 transition: 0.5s;
 &:hover {
  color: $color-valencia;
 }
}
button {
 font-family: GillSans, sans-serif;
 transition: 0.5s;
}

em {
 font-style: italic;
}

b, strong {
 font-weight: 700;
}

input, textarea, select {
 display: block;
 color: $color-cod-gray;
 font-family: GillSans, sans-serif;
 font-size: 14px;
 font-weight: 600;
 line-height: 17px;
 outline: none;
 transition: 0.5s;
}
input, textarea {
 width: 100%;
 border: 1px solid $color-alto-2;
 background-color: $color-alabaster-2-05;
 padding: 15px 25px;
 &:active, &:focus {
  border-color: $color-valencia;
 }
}
textarea {
 min-height: 130px;
 resize: none;
}
select {
 background: url(../../img/client/common/arrow-more.svg) no-repeat center right;
 border: none;
 border-radius: 0;
 text-transform: uppercase;
 padding-right: 22px;
 -webkit-appearance:none;
 cursor: pointer;
}

label {
 display: block;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color: $color-alto-5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: $color-alto-5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: $color-alto-5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: $color-alto-5;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: $color-alto-5;
}
::placeholder { /* Most modern browsers support this now. */
 color: $color-alto-5;
}

.custom-checkbox {
 display: flex;
 align-items: center;
 position: relative;
 &:hover {

  label {
   color: $color-valencia;
  }
 }

 input[type="checkbox"] {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;

  &:checked {

   + label .custom-checkbox__box {
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background: url(../../img/client/common/check-icon.svg) no-repeat center, $color-valencia;
   }
  }
 }

 label {
  color: $color-silver-chalice-4;
  font-family: GillSans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 0 28px;
  transition: 0.4s;
  position: relative;
  z-index: 2;
  cursor: pointer;
 }
 .custom-checkbox__box {
  width: 16px;
  height: 16px;
  background: no-repeat center, $color-gallery;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: 0.4s;
  cursor: pointer;
 }
}