.login-layout {
 height: 100vh;
 min-height: 700px;
 background: url(../../img/client/login/login-bg.jpg) no-repeat center / cover;
 padding: 132px 0 214px;

 .main-wrapper {
  width: 910px;
 }
}

.login-main {
 display: flex;
 justify-content: space-between;
 margin-top: 100px;

 .login-main__title {
  color: $color-cod-gray-2;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 42px;
  font-style: italic;
  line-height: 50.4px;
  padding-top: 30px;
 }
}

.login-main-form {
 width: 385px;

 .login-main-form__formgroup {
  margin-bottom: 35px;
 }

 .login-main-form__submit {
  width: 220px;
  margin: 60px auto 0;
 }

 .login-main-form__link {
  display: block;
  color: $color-valencia;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1.63px;
  margin-top: 47px;
  text-align: center;
 }
}