#notifications {

 .content-inner {
  padding: 17px 36px 78px;
 }
}

.notifications-list-layout {
 margin-top: 9px;

 .notifications-list-layout__item {
  display: none;
  &.notifications-list-layout__item--active {
   display: block;
  }
 }
}
.notifications-list {
 padding-left: 22px;

 .notifications-list__item {
  margin-bottom: 24px;
  &:last-child {
   margin-bottom: 0;
  }

  .notifications-list__item-link, .notifications-list__item-text {
   display: inline;
   font-size: 16px;
   line-height: 24px;
  }
  .notifications-list__item-link {
   color: $color-cod-gray-2;
   &:hover {
    color: $color-cardinal;
   }
  }
  .notifications-list__item-text {
   color: $color-silver-chalice-2;
   margin-left: 5px;
  }
 }
}

.notifications-clear-btn {
 width: 240px;
 background: $color-alto-3;
 font-size: 12px;
 letter-spacing: normal;
 margin-top: 65px;
 padding: 12px 13px 12px 15px;
 &:hover {
  background: $color-valencia;
  transform: scale(1);
 }
}