#profile-payments {

 .content {
  padding-bottom: 200px;
 }
}

.profile-payments-card {
 width: 507px;
 height: 298px;
 margin: 62px 0 0 188px;
 position: relative;
}

.profile-payments-card-back {
 height: 100%;
 border-radius: 20px;
 background-color: $color-mercury;
 position: relative;
 overflow: hidden;
 &:before {
  content: '';
  width: 100%;
  height: 43px;
  background-color: $color-alto-4;
  position: absolute;
  top: 14px;
  left: 0;
 }

 .profile-payments-card-back__text {
  width: 120px;
  height: 48px;
  border-radius: 3px;
  border: 1px solid $color-gallery-2;
  background-color: $color-white;
  color: $color-alto-5;
  font-size: 20px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 68px;
  right: 34px;
 }
}

.profile-payments-card-front {
 width: 505px;
 height: 296px;
 border-radius: 20px;
 background: url(../../img/client/profile/card-flower-1.png) no-repeat right 25px bottom 31px, url(../../img/client/profile/card-flower-2.png) no-repeat left 36px top 106px, $color-white-sand;
 padding: 45px 123px 45px 60px;
 position: absolute;
 top: -15px;
 left: -188px;

 .profile-payments-card-front__text {
  font-size: 15px;
  letter-spacing: 0.43px;
 }

 .profile-payments-card-front__input {
  border-radius: 3px;
  border: 1px solid $color-gallery-2;
  background-color: $color-white;
  font-size: 20px;
  text-align: center;
  margin: 12px 0 33px;
 }

 .profile-payments-card-front__selects {
  display: flex;
  margin-top: 12px;

  .profile-payments-card-front__select {
   height: 50px;
   background-position: center right 20px;
   border-radius: 100px;
   border: 1px solid $color-gallery-2;
   background-color: $color-white;
   font-size: 16px;
   text-align: center;
   padding: 0 30px;
   &.profile-payments-card-front__select--1 {width: 90px;}
   &.profile-payments-card-front__select--2 {width: 110px;}
  }
  .profile-payments-card-front__selects-divider {
   width: 18px;
   height: 16px;
   position: relative;
   &:before {
    width: 20px;
    height: 1px;
    transform: rotate(-60deg);
    background-color: $color-cod-gray-02;
    position: absolute;
    top: 0;
    left: 0;
   }
  }
 }
}

.profile-payments-btns {
 width: 507px;
 display: flex;
 justify-content: space-between;
 margin: 85px 0 0 188px;

 .profile-payments-btn {
  &:nth-child(1) {
   width: 250px;
  }
  &:nth-child(2) {
   width: 230px;
  }
 }
}