#profile-payments-history {

}

.profile-payments-history {

 .profile-payments-history__header {
  display: flex;

  .profile-payments-history__header-item {
   font-size: 15px;
   line-height: 42px;

   &.profile-payments-history__header-item--date {
    width: 140px;
    padding-right: 10px;
   }
   &.profile-payments-history__header-item--content {
    flex: 1;
   }
  }
 }

 .profile-payments-history__main {
  display: flex;

  .profile-payments-history__main-item {

   .profile-payments-history__main-item-list {

    .profile-payments-history__main-item-list-item {

     .profile-payments-history__main-item-list-item-text {
      color: $color-silver-chalice-4;
      font-size: 16px;
      line-height: 42px;
      //&:hover {
      // color: $color-valencia;
      //}
     }
    }
   }

   &.profile-payments-history__main-item--date {
    width: 140px;
    padding-right: 10px;
    color: $color-dusty-gray-2;
    font-size: 14px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
    &:before {
     top: 13px;
    }
   }
   &.profile-payments-history__main-item--content {
    flex: 1;
   }
  }
 }
}