#profile {

 .content.content--profile {
  padding-bottom: 136px;
 }
}

.profile-edit {
 display: flex;
 justify-content: space-between;
}

.profile-edit-main {
 width: 540px;
}

.profile-edit-aside {
 width: 200px;

 .profile-edit-aside__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../../img/client/common/photo-icon.svg) no-repeat center, $color-white-sand;
  margin-top: 27px;

  img {
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 50%;
  }
 }

 .profile-edit-aside__load {
  font-size: 12px;
  letter-spacing: normal;
  padding: 12px 35px;
  margin: 30px auto 0;
 }
 .profile-edit-aside__delete {
  display: block;
  background: none;
  border: none;
  color: $color-alto-3;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
  cursor: pointer;
  &:hover {
   color: $color-valencia;
  }
 }
}

.profile-edit-form {
 margin-top: 30px;

 .profile-formgroup.profile-formgroup--short {
  margin-bottom: 66px;
 }

 .profile-edit-form__submit {
  margin: 73px auto 0;
 }
}

.profile-formgroup {
 margin-bottom: 30px;
 &:last-child {
  margin-bottom: 0;
 }

 label {
  color: $color-silver-chalice-4;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.58px;
  margin-bottom: 13px;
 }
 input, textarea, select {
  width: 100%;
  border-radius: 3px;
  border: 1px solid $color-alto-2;
  background-color: $color-alabaster-2-05;
  color: $color-abbey;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.27px;
  padding: 12px 21px 14px;
 }

 select {
  background-position: center right 24px;
  border-radius: 100px;
  text-transform: none;
 }

 .profile-formgroup__bday-selects {
  width: 495px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .profile-formgroup__bday-select {

   &.profile-formgroup__bday-select--1 {width: 90px;}
   &.profile-formgroup__bday-select--2, &.profile-formgroup__bday-select--3 {width: 160px;}
  }

  .profile-formgroup__bday-selects-divider {
   width: 9px;
   height: 1px;
   background-color: $color-cod-gray-02;
  }
 }

 &.profile-formgroup--short {
  width: 290px;
 }
}