#profile-notifications {

}

.profile-notifications {

 .profile-notifications__title {
  font-size: 16px;
  line-height: 56px;
 }
}

.profile-notifications-list {

 .profile-notifications-list__item {
  padding: 18px 0;

  .profile-notifications-list__item-checkbox {

  }
 }
}

.profile-title {
 font-size: 16px;
 line-height: 44px;
 padding-bottom: 6px;
}

.profile-subtitle {
 color: $color-silver-chalice-4;
 font-size: 14px;
 line-height: 24px;
 margin-top: 17px;
}

.profile-notifications-submit {
 margin-top: 90px;
}