#registration {

}

.registration {
 margin: 62px auto 0;
 position: relative;

 .registration__title {
  width: 100%;
  color: $color-cod-gray-2;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 36px;
  font-style: italic;
  line-height: 47px;
  text-align: center;
  position: absolute;
  top: -96px;
  left: 0;
 }
}

.registration-steps {
 width: 820px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 auto;
 position: relative;

 .registration-steps__divider {
  width: 280px;
  border: 1px dashed $color-dusty-gray-3;
  opacity: 0.2;
  position: absolute;
  top: 18px;

  &.registration-steps__divider--1 {
   width: 290px;
   left: 107px;
  }
  &.registration-steps__divider--2 {
   width: 270px;
   right: 75px;
  }
 }
}
.registration-step {
 display: flex;
 flex-direction: column;
 align-items: center;

 .registration-step__number {
  width: 50px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .registration-step__number-icon {
   position: absolute;
   top: 0;
   left: 0;

   g, use {
    transition: 0.3s;
   }
  }
  .registration-step__number-text {
   color: $color-nobel-2-06;
   font-family: GaramondPremierPro, sans-serif;
   font-size: 24px;
   font-style: italic;
   line-height: 24px;
   position: relative;
   z-index: 2;
   transition: 0.3s;
  }
 }

 .registration-step__title {
  color: $color-nobel-2;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 46.5px;
 }

 .registration-step__number-check {
  width: 16px;
  height: 13px;
  background: url(../../img/client/registration/check-icon.svg) no-repeat center / contain;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 8px);
  z-index: 2;
  opacity: 0;
  transition: 0.3s;
 }

 &.registration-step--1 .registration-step__number .registration-step__number-icon {
  width: 50px;
  height: 43px;
 }
 &.registration-step--2 .registration-step__number .registration-step__number-icon {
  width: 45px;
  height: 49px;
  top: -6px;
  left: 2px;
 }
 &.registration-step--3 .registration-step__number .registration-step__number-icon {
  width: 47px;
  height: 43px;
  left: 1px;
 }

 &.registration-step--active {

  .registration-step__number {

   .registration-step__number-text {
    color: $color-white;
   }
   .registration-step__number-icon {

    g {
     opacity: 1;
    }
    use {
     fill: $color-cardinal;
    }
   }
  }

  .registration-step__title {
   color: $color-cod-gray-2;
  }
 }
 &.registration-step--done {

  .registration-step__number {

   .registration-step__number-check {
    opacity: 1;
   }

   .registration-step__number-text {
    opacity: 0;
   }
   .registration-step__number-icon {

    g {
     opacity: 1;
    }
    use {
     fill: $color-cardinal;
    }
   }
  }

  .registration-step__title {
   color: $color-valencia;
  }
 }
}

.registration-form-layout {
 margin: 40px auto 0;
}

.registration-form {
 width: 775px;
 display: flex;
 justify-content: space-between;
 margin: 0 auto;

 .registration-form__left, .registration-form__right {
  width: 352px;
 }

 .registration-form__formgroup {
  margin-bottom: 30px;
 }
}

.registration-form-submit {
 width: 190px;
 align-self: flex-end;
 margin-top: 48px;

 svg {
  margin-left: 20px;
  transition: 0.5s;
 }
}

.registration-step-content {
 display: none;
 flex-direction: column;
 position: relative;

 &.registration-step-content--active {
  display: flex;
 }
}

.registration-form-card-right {
 width: 330px;
 position: absolute;
 top: 112px;
 left: 722px;

 .registration-form-card-right__checkbox {
  &:hover {

   label {
    color: inherit;
   }
  }

  label {
   font-size: 15px;
   line-height: 24px;
   color: $color-cod-gray;
   letter-spacing: 0.43px;

   a {
    color: $color-cardinal;
    text-decoration: underline;
   }
  }
 }
}