.aside
  h2.page-subtitle Дата

  ul.aside-list.aside-list--notifications
    li(onclick="notificationTabChange(this, '#notifications-list-1')").aside-item.aside-item--active
      p.aside-link.aside-item__link 11.12.2017
    li(onclick="notificationTabChange(this, '#notifications-list-2')").aside-item
      p.aside-link.aside-item__link 11.12.2017
    li(onclick="notificationTabChange(this, '#notifications-list-3')").aside-item
      p.aside-link.aside-item__link 11.12.2017

