.aside
  a(href="/feed").aside-link.aside-link--active лента

  ul.aside-list
    li.aside-item.aside-item--active
      a(href="/feed/inspiration/single").aside-link.aside-item__link вдохновение
      .aside-item__counter 2
    li.aside-item
      a(href="/feed/articles/single").aside-link.aside-item__link статьи
      .aside-item__counter 2
    li.aside-item
      a(href="/feed/videos/single").aside-link.aside-item__link видео
    li.aside-item
      a(href="/feed/live/single").aside-link.aside-item__link трансляции

  .aside-favorites
    .aside-favorites__icon
    a(href="#").aside-link.aside-favorites__link избранное
