footer.main-footer
  .main-wrapper.main-footer-top
    a.logo.logo--white(href='/')
    ul.main-footer-list
      li.main-footer-list__item
        a(href='/courses') Программы развития
      li.main-footer-list__item
        a(href='/information') Правовая информация
    ul.main-footer-list
      li.main-footer-list__item
        a(href='/calendar') Календарь
    ul.main-footer-list
      li.main-footer-list__item
        a(href='/faq') FAQ
      li.main-footer-socials
        h2.main-footer-socials__title follow us
        ul.socials
          li.socials__item.socials__item--in
            a(href='https://www.instagram.com/woman_insight/', target='_blank')
              svg#icon-insta-icon(viewbox='0 0 12 12' width='12' height='12')
                path(d='M10.5 0h-9C.7 0 0 .7 0 1.5v8.9c0 .9.7 1.6 1.5 1.6h8.9c.8 0 1.5-.7 1.5-1.5v-9C12 .7 11.3 0 10.5 0zM8.2 1.9c0-.3.2-.5.5-.5h1.4c.3 0 .5.2.5.5v1.3c0 .3-.2.5-.5.5H8.7c-.3 0-.5-.2-.5-.5V1.9zM6 3.6c1.3 0 2.4 1 2.4 2.3 0 1.3-1.1 2.3-2.4 2.3-1.3 0-2.4-1-2.4-2.3 0-1.2 1.1-2.3 2.4-2.3zm4.6 6.5c0 .3-.2.5-.5.5H1.8c-.3 0-.5-.2-.5-.5v-5h1.1c-.1.3-.2.7-.2 1 0 2 1.7 3.6 3.7 3.6 2.1 0 3.7-1.6 3.7-3.6 0-.4-.1-.7-.2-1h1.1v5z')
          li.socials__item.socials__item--vk
            a(href='https://vk.com/sexeducation', target='_blank')
              svg#icon-vk-icon(viewbox='0 0 17.1 9.6' width='17' height='9.6')
                path(d='M17 8.7s0-.1-.1-.1c-.3-.5-.9-1.2-1.7-1.9l-.7-.7c-.2-.2-.2-.5-.1-.7.1-.3.3-.7.8-1.3.2-.3.4-.6.6-.7 1-1.3 1.5-2.2 1.3-2.6L17 .6c0-.1-.1-.1-.3-.1-.1 0-.3-.1-.6 0h-2.6H13.2s-.1 0-.1.1c0 0-.1.1-.1.2-.3.7-.6 1.4-1 2-.2.4-.4.7-.6.9-.2.3-.3.5-.5.6l-.3.3c-.1.1-.2.1-.2.1h-.2c-.1-.1-.2-.1-.2-.2.1-.1 0-.3 0-.4v-.4-.4V3v-.7-.6-.5-.4c0-.1-.1-.2-.1-.3 0-.1-.1-.2-.2-.2S9.5.2 9.4.2C9.1 0 8.7 0 8.2 0 7.1 0 6.4.1 6.1.2l-.3.3c-.1.1-.1.2 0 .2.4.1.6.2.8.4l.1.1c0 .1.1.2.1.4s.1.4.1.6v1.1c0 .3-.1.5-.1.7 0 .2-.1.3-.1.4-.2.1-.2.2-.3.2h-.2c-.1 0-.2 0-.3-.1-.2 0-.3-.1-.4-.2-.2-.2-.3-.4-.5-.6-.1-.3-.3-.6-.5-1l-.1-.2c-.1-.2-.2-.4-.4-.7-.1-.3-.3-.6-.4-.9 0-.1-.1-.2-.2-.3 0 0-.1 0-.1-.1-.1 0-.1 0-.2-.1H.7C.5.4.3.5.2.6v.2C0 .9 0 .9.1 1c.4.8.7 1.6 1.2 2.4s.7 1.4 1 1.9c.3.5.6.9.9 1.3.4.4.6.7.7.8.1.1.2.2.2.3l.2.2c.2.1.4.3.7.5l.9.6c.3.2.7.3 1.2.5.4.1.9.1 1.3.1h1c.2 0 .4-.1.5-.2 0 0 0-.1.1-.2V9c0-.3 0-.5.1-.7 0-.2.1-.4.2-.5.1-.1.1-.2.2-.3.1-.1.1-.1.2-.1h.1c.1 0 .3 0 .5.1s.4.3.5.5c.2.2.4.4.6.7.2.3.4.4.6.6l.2.1c.1.1.3.1.5.2s.4.1.5 0h2.3c.2 0 .4 0 .5-.1l.2-.2V9c-.1-.2-.1-.3-.2-.3z')
          li.socials__item.socials__item--fb
            a(href='https://www.facebook.com/womaninsightclub/', target='_blank')
              svg#icon-fb-icon(viewbox='0 0 8 16' width='8' height='16')
                path(d='M1.9 3.3C1.9 3.7 2 5 2 5H0v3h2v8h3V8h2l1-3H5V3.6c0-.2.3-.6.6-.6h1.7V.2H5C1.8.2 1.9 2.9 1.9 3.3z')
          li.socials__item.socials__item--yt
            a(href='https://www.youtube.com/channel/UCa__r86R8PmZF1BvV2UWPtg?view_as=subscriber', target='_blank')
              svg#icon-yt-icon(viewbox='0 0 15 11' width='15' height='11')
                path(d='M15 2.3C15 1.1 14 0 12.8 0H2.2C1 0 0 1.1 0 2.3v6.3C0 9.9 1 11 2.2 11h10.5C14 11 15 9.9 15 8.7V2.3zM6 8.2v-6l4.3 3-4.3 3z')
  .main-wrapper.main-footer-bottom
    p.main-footer-copy Copyright© 2017
    .main-footer-developed
      p made by
      a(target='_blank', href='https://dotwork.agency/')
        svg(width='727px', height='148px', viewbox='0 0 727 148', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#dotwork-logo(fill-rule='nonzero')
              path#dotwork-talpis(d='M104.971319,0 C104.971319,27.8926852 104.971319,48.812199 104.971319,62.758542 C105.011105,62.830578 95.100119,75.443916 95.112592,94.8 C95.120908,107.704056 98.40715,118.437389 104.971319,127 C104.971319,136 105.571155,142.6 105.771101,144.8 L76.579077,144.8 C76.379131,143.6 75.779295,139.2 75.779295,135.2 C71.180552,142 61.183283,147 49.186561,147 C21.194209,147 0,125.4 0,94.8 C0,65.2 19.994537,43 48.186834,43 C65.182191,43 72.580169,49.4 74.979514,53.2 L74.979514,0 L104.971319,0 Z M30.591642,95 C30.591642,111.4 41.188746,119.8 52.985523,119.8 C64.7823,119.8 75.379405,111.4 75.379405,95 C75.379405,78.4 64.7823,70.4 52.985523,70.4 C41.188746,70.4 30.591642,78.4 30.591642,95 Z M265.526222,45.4 L236.334335,45.4 L236.334335,16.4 L209.141765,16.4 L209.141765,29.2 C209.141765,38.4 204.14313,45.4 193.745971,45.4 L188.747337,45.4 C206.381972,59.012849 215.199289,75.212849 215.199289,94 C215.199289,104.133333 212.691636,113.950665 207.67633,123.451995 C207.526334,132.292425 218.939088,146.6 239.533461,146.6 C249.130839,146.6 254.129473,144.4 255.329145,143.8 L255.329145,118.6 C253.529637,119 250.530456,119.6 247.33133,119.6 C240.733133,119.6 236.334335,117.4 236.334335,109.2 L236.334335,72 L263.675887,72 L286.52035,144.8 L317.311937,144.8 L338.506146,80.6 L360.100246,144.8 L390.291997,144.8 L421.083584,45.4 L391.291724,45.4 L374.696258,104.4 L355.301557,45.4 L323.110352,45.4 L303.515706,104.2 L286.92024,45.4 L265.526222,45.4 Z M478.26796,119.8 C489.864791,119.8 500.661841,111.8 500.661841,95 C500.661841,78.2 489.864791,70.4 478.26796,70.4 C466.871073,70.4 455.874078,78.2 455.874078,95 C455.874078,111.6 466.871073,119.8 478.26796,119.8 Z M478.26796,42.4 C508.05982,42.4 531.053537,64.2 531.053537,95 C531.053537,125.8 508.05982,147.8 478.26796,147.8 C448.676045,147.8 425.482382,125.8 425.482382,95 C425.482382,64.2 448.676045,42.4 478.26796,42.4 Z M609.832013,45.4 C607.832559,44.8 604.833379,44.4 601.834198,44.4 C593.836384,44.4 581.239825,47.6 576.041246,58.8 L576.041246,45.4 L546.649276,45.4 L546.649276,144.8 L577.040972,144.8 L577.040972,101.4 C577.040972,81.6 588.037968,74.4 600.234635,74.4 C603.233816,74.4 606.432942,74.6 609.832013,75.4 L609.832013,45.4 Z M726.200219,45.4 L687.410817,87.2 L727,144.8 L689.810161,144.8 L666.416553,109.8 L656.61923,120.4 L656.61923,144.8 L626.227533,144.8 L626.227533,0 L656.61923,0 L656.61923,78.8 L686.810981,45.4 L726.200219,45.4 Z M155.96968,116 C144.927003,116 135.975143,107.045695 135.975143,96 C135.975143,84.954305 144.927003,76 155.96968,76 C167.012358,76 175.964217,84.954305 175.964217,96 C175.964217,107.045695 167.012358,116 155.96968,116 Z')

