.main-header
  .main-wrapper
    a(href="/feed").logo
    ul.main-header-nav
      li.main-header-nav__item.main-header-nav__item--active
        a(href="/feed") Журнал
      li.main-header-nav__item
        a(href="/consultations") личные консультации
      li.main-header-nav__item
        a(href="#") программы
    .main-header-btns
      .main-header-notifications
        .main-header-notifications__icon(onclick="slideToggleItem('.main-header-notifications__toggle')")
          .main-header-notifications__counter 2
        .toggle.main-header-notifications__toggle
          ul.toggle-list
            li.toggle-list__item
              a(href="#").toggle-list__item-link Новая статья “Заголовок”
            li.toggle-list__item
              a(href="#").toggle-list__item-link Новая статья “Заголовок”
            li.toggle-list__item
              a(href="#").toggle-list__item-link Новая статья “Заголовок”
              p.toggle-list__item-date 14 декабря в 17:00
            li.toggle-list__item
              a(href="#").toggle-list__item-link Новая статья “Заголовок”
          a(href="#").btn.main-header-notifications__toggle-link все уведомления
      a(href="#").main-header-profile Ирина Евдокимова
      .main-header-avatar(onclick="slideToggleItem('.main-header-avatar__toggle')")
        img(src="/img/client/partials/header/avatar.png")
        .toggle.main-header-avatar__toggle
          ul.profile-toggle-list
            li.profile-toggle-list__item
              .profile-toggle-list__item-icon
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='10', height='11', viewbox='0 0 10 11')
                  defs
                    path#1cm5a(d='M1089.45 138.04a1.62 1.62 0 0 0 3.1.9 1.62 1.62 0 0 0-3.1-.9zm-3.45 9.45h10a5 5 0 1 0-10 0z')
                  g
                    g(opacity='.2', transform='translate(-1086 -137)')
                      g
                        use(fill='#171717', xlink:href='#1cm5a')
              a(href="/profile").profile-toggle-list__item-link Личные данные
            li.profile-toggle-list__item
              .profile-toggle-list__item-icon
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='10', height='12', viewbox='0 0 10 12')
                  defs
                    path#zb3wa(d='M1096.38 182h-.3v4.12c0 .38-.27.8-.61.96L1089 190h7.38c.34 0 .62-.3.62-.68v-6.64c0-.38-.28-.68-.62-.68z')
                    path#zb3wb(d='M1095 179.04v6.47c0 .36-.27.78-.6.93l-6.8 3.1c-.33.16-.6-.02-.6-.38v-6.47c0-.36.27-.78.6-.93l6.8-3.1c.33-.16.6.02.6.38zm-.77 3.48c0-.27-.2-.42-.44-.33a.73.73 0 0 0-.43.65c0 .26.2.4.43.32a.73.73 0 0 0 .44-.64z')
                  g
                    g(opacity='.2', transform='translate(-1087 -178)')
                      g
                        use(fill='#010002', xlink:href='#zb3wa')
                      g
                        use(fill='#010002', xlink:href='#zb3wb')
              a(href="/profile/payments").profile-toggle-list__item-link Платежные данные
            li.profile-toggle-list__item
              .profile-toggle-list__item-icon
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='9', viewbox='0 0 11 9')
                  defs
                    path#675va(d='M1095.61 228l.59.52v-2.1l-1.71 1.57-5.47-4.99h10.93l-2.38 2.17 2.42 2.25-2.46 2.28 1.97 1.73h-10l3.89-3.43 1.11.98zm-2.82-.58l-3.79 3.51v-7.03z')
                  g
                    g(opacity='.2', transform='translate(-1089 -223)')
                      g
                        use(xlink:href='#675va')
              a(href="/profile/notifications").profile-toggle-list__item-link Подписка на обновления
            li.profile-toggle-list__item
              .profile-toggle-list__item-icon
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='11', viewbox='0 0 11 11')
                  defs
                    path#u25va(d='M1089 269.5a5.5 5.5 0 1 1 11 0 5.5 5.5 0 0 1-11 0zm7.13.78l-1.03-1.03v-2.16a.6.6 0 1 0-1.2 0v2.41c0 .16.06.31.17.43l1.2 1.2a.6.6 0 1 0 .86-.85z')
                  g
                    g(opacity='.2', transform='translate(-1089 -264)')
                      g
                        use(fill='#171717', xlink:href='#u25va')
              a(href="/profile/payments-history").profile-toggle-list__item-link История покупок
          ul.profile-toggle-list.profile-toggle-list--exit
            li.profile-toggle-list__item
              .profile-toggle-list__item-icon
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11', height='12', viewbox='0 0 11 12')
                  defs
                    path#lluga(d='M1093.97 351.24V347h1.06v4.24z')
                    path#llugb(d='M1099.13 350.42a5.5 5.5 0 0 0-2.27-1.99l-.46.96a4.44 4.44 0 1 1-3.8 0l-.46-.96a5.5 5.5 0 0 0-3.14 4.96 5.5 5.5 0 1 0 10.13-2.97z')
                  g
                    g(transform='translate(-1089 -347)')
                      g
                        use(fill='#b3b3b3', xlink:href='#lluga')
                      g
                        use(fill='#b3b3b3', xlink:href='#llugb')
              a(href="/logout").profile-toggle-list__item-link Выход
