script.
  $(function(){

    // smooth scroll on anchors
    $(document).on('click', '.link-smooth', function (event) {
      event.preventDefault();
      $('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top
      }, 2000);
    });

    //popup link
    $("body").click(function () {
      $('.popup-layout').fadeOut(200);
    });
    $(".popup, .popup-link").click(function (e) {
      e.stopPropagation();
    });

    // popup close
    $('.popup__close').click(function () {
      hidePopup();
    });

  });


  function showPopup(popupId) {
    $(popupId).fadeIn(400);
  }
  function hidePopup() {
    $('.popup-layout').fadeOut(400);
  }

  function slideToggleItem(item) {
    $(item).slideToggle(400);
  }