doctype html
html
  head
    title Woman Insight
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='title', content='Woman Insight')
    meta(name='description', content='Woman Insight')
    meta(property='og:title', content='Woman Insight')
    meta(property='og:description', content='Woman Insight')
    link(rel='icon', href='/img/favicon.png')
    link(rel='stylesheet' href='/index.css')
    script(src='/js/jquery-2.1.4.min.js' type='text/javascript')
    script(src='/js/jquery.cookie.js' type='text/javascript')

  body
    block contents
