/* font-family: "GillSans"; */
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-Regular.ttf");
 src: url("../../fonts/GillSans/GillSans-Regular.ttf") format("truetype");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-Italic.otf");
 src: url("../../fonts/GillSans/GillSans-Italic.otf") format("opentype");
 font-style: italic;
 font-weight: normal;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-Light.otf");
 src: url("../../fonts/GillSans/GillSans-Light.otf") format("opentype");
 font-style: normal;
 font-weight: 300;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-LightItalic.otf");
 src: url("../../fonts/GillSans/GillSans-LightItalic.otf") format("opentype");
 font-style: italic;
 font-weight: 300;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-SemiBold.ttf");
 src: url("../../fonts/GillSans/GillSans-SemiBold.ttf") format("truetype");
 font-style: normal;
 font-weight: 600;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-SemiBoldItalic.ttf");
 src: url("../../fonts/GillSans/GillSans-SemiBoldItalic.ttf") format("truetype");
 font-style: italic;
 font-weight: 600;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-Bold.otf");
 src: url("../../fonts/GillSans/GillSans-Bold.otf") format("opentype");
 font-style: normal;
 font-weight: 700;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-BoldItalic.otf");
 src: url("../../fonts/GillSans/GillSans-BoldItalic.otf") format("opentype");
 font-style: italic;
 font-weight: 700;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-ExtraBold.otf");
 src: url("../../fonts/GillSans/GillSans-ExtraBold.otf") format("opentype");
 font-style: normal;
 font-weight: 800;
}
@font-face {
 font-family: "GillSans";
 src: url("../../fonts/GillSans/GillSans-UltraBold.otf");
 src: url("../../fonts/GillSans/GillSans-UltraBold.otf") format("opentype");
 font-style: normal;
 font-weight: 900;
}

/* font-family: "GaramondPremierPro"; */
@font-face {
 font-family: "GaramondPremierPro";
 src: url("../../fonts/GaramondPremierPro/GaramondPremierPro-Regular.ttf");
 src: url("../../fonts/GaramondPremierPro/GaramondPremierPro-Regular.ttf") format("truetype");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "GaramondPremierPro";
 src: url("../../fonts/GaramondPremierPro/GaramondPremierPro-Italic.ttf");
 src: url("../../fonts/GaramondPremierPro/GaramondPremierPro-Italic.ttf") format("truetype");
 font-style: italic;
 font-weight: normal;
}