// All scss variables should be in this file
// sizes
$lg: 1480px;
$md: 1200px;
$sm: 720px;
// colors
$color-white: #ffffff;
$color-white-07: rgba(255,255,255,0.7);
$color-white-05: rgba(255,255,255,0.5);
$color-black: #000000;
$color-black-078: rgba(0,0,0,0.78);
$color-black-05: rgba(0,0,0,0.5);
$color-black-03: rgba(0,0,0,0.3);
$color-black-02: rgba(0,0,0,0.2);
$color-cod-gray: #171717;
$color-cod-gray-06: rgba(23, 23, 23, 0.6);
$color-cod-gray-03: rgba(23, 23, 23, 0.3);
$color-cod-gray-02: rgba(23, 23, 23, 0.2);
$color-cod-gray-2: #121212;
$color-mine-shaft: #343434;
$color-abbey: #4C4F51;
$color-gray: #888888;
$color-silver-chalice: #A6A6A6;
$color-silver-chalice-2: #A4A4A4;
$color-silver-chalice-3: #A9A9A9;
$color-silver-chalice-4: #A5A5A5;
$color-dusty-gray: #999999;
$color-dusty-gray-05: rgba(153, 153, 153, 0.5);
$color-dusty-gray-2: #959595;
$color-dusty-gray-3: #979797;
$color-nobel: #B6B6B6;
$color-nobel-2: #B3B3B3;
$color-nobel-2-06: rgba(179, 179, 179, 0.6);
$color-mercury: #E5E5E5;
$color-alto: #D2D2D2;
$color-alto-2: #D5D5D5;
$color-alto-3: #D8D8D8;
$color-alto-4: #CFCFCF;
$color-alto-5: #cecece;
$color-white-sand: #F4F4F4;
$color-white-sand-05: rgba(244, 244, 244, 0.5);
$color-gallery: #EDEDED;
$color-gallery-2: #EBEBEB;
$color-alabaster: #F8F8F8;
$color-alabaster-2: #F9F9F9;
$color-alabaster-2-05: rgba(249, 249, 249, 0.5);
$color-valencia: #D83540;
$color-cardinal: #CC1F32;