.popup-layout#popup-live-rules
  .popup-scrollarea
    .popup.popup--bg-bottom.popup-live-rules
      .popup__close
        .popup__close-line
        .popup__close-line
      .popup-live-rules__title
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='69.75', height='72', viewbox='0 0 69.75 72')
          defs
            path#7k5qa(d='M335.8 769.73c20.54-8 33.27 7.41 45.83 16.26 10.46 7.36-3.83 25.51-16.2 35.73-12.39 10.21-38.59 1.36-46.46-12.26-7.86-13.62-2.42-32.25 16.83-39.73z')
            path#7k5qb(d='M341.5 795.5h11.2l-5.6 7z')
          g
            g(transform='rotate(-90 -187.87 574.08)')
              g
                use(fill='#fff', fill-opacity='0', stroke='#ddd', stroke-miterlimit='50', xlink:href='#7k5qa')
              g
                use(fill='#d83540', xlink:href='#7k5qb')
        h1 Правила проведения трансляции
      p.popup-live-rules__text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum semper est, vel convallis nunc consequat eget. Cras in cursus mauris. Aliquam faucibus, lacus vel aliquet rutrum, est justo suscipit quam, eu interdum justo ante eu erat. Sed nec nulla eget dolor consectetur dapibus eu ac lectus. Cras in cursus mauris. Aliquam faucibus, lacus vel aliquet rutrum, est justo suscipit quam, eu interdum justo ante eu erat. Sed nec nulla eget dolor consectetur dapibus eu ac lectus.Cras in cursus mauris. Aliquam faucibus, lacus vel aliquet rutrum, est justo suscipit quam, eu interdum justo ante eu erat. Sed nec nulla.
        br
        br
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum semper est, vel convallis nunc consequat eget. Cras in cursus mauris. Aliquam faucibus, lacus vel aliquet rutrum, est justo suscipit quam, eu interdum justo ante eu erat. Sed nec nulla eget dolor consectetur dapibus eu ac lectus. Cras in cursus mauris. Aliquam faucibus, lacus vel aliquet rutrum, est justo suscipit quam, eu interdum justo ante eu erat. Sed nec nulla eget dolor consectetur dapibus eu ac lectus.Cras in cursus mauris. Aliquam faucibus, lacus vel aliquet rutrum, est justo suscipit quam, eu interdum justo ante eu erat. Sed nec nulla.