extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  .main#consultations
    .main-wrapper
      ul.consultations-list
        li.consultations-list-item
          .consultations-list-item__thumb
            img(src="/img/client/consultations/consultation-avatar.jpg")
          .consultations-list-item__content
            h1.consultations-list-item__title Афанасьева Юлия
            p.consultations-list-item__niche Психолог, сексолог
            p.consultations-list-item__about Профессиональная психологическая помощь в решении личных<br> и семейных проблем.
            footer.consultations-list-item__footer
              .consultations-list-item__price
                | Стоимость консультации:
                span $20
              a(href="/consultations/single").link-3-dots.consultations-list-item__link
                | Подробнее
                .link-3-dots__dots
                  .link-3-dots__dot
                  .link-3-dots__dot
                  .link-3-dots__dot
        li.consultations-list-item
          .consultations-list-item__thumb
            img(src="/img/client/consultations/consultation-avatar.jpg")
          .consultations-list-item__content
            h1.consultations-list-item__title Афанасьева Юлия
            p.consultations-list-item__niche Психолог, сексолог
            p.consultations-list-item__about Профессиональная психологическая помощь в решении личных<br> и семейных проблем.
            footer.consultations-list-item__footer
              .consultations-list-item__price
                | Стоимость консультации:
                span $20
              a(href="/consultations/single").link-3-dots.consultations-list-item__link
                | Подробнее
                .link-3-dots__dots
                  .link-3-dots__dot
                  .link-3-dots__dot
                  .link-3-dots__dot
        li.consultations-list-item
          .consultations-list-item__thumb
            img(src="/img/client/consultations/consultation-avatar.jpg")
          .consultations-list-item__content
            h1.consultations-list-item__title Афанасьева Юлия
            p.consultations-list-item__niche Психолог, сексолог
            p.consultations-list-item__about Профессиональная психологическая помощь в решении личных<br> и семейных проблем.
            footer.consultations-list-item__footer
              .consultations-list-item__price
                | Стоимость консультации:
                span $20
              a(href="/consultations/single").link-3-dots.consultations-list-item__link
                | Подробнее
                .link-3-dots__dots
                  .link-3-dots__dot
                  .link-3-dots__dot
                  .link-3-dots__dot

  include ../partials/footer.jade
  include ../partials/scripts.jade
