extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  .main#consultations-single
    .main-wrapper
      a(href="#").back-link
        svg.back-link__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='7', height='9', viewbox='0 0 7 9')
          defs
            path#e6aga(d='M379 205l-4 3.54 4 3.46')
          g
            g(transform='translate(-373 -204)')
              use(fill='#fff', fill-opacity='0', stroke='#b6b6b6', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#e6aga')
        | Назад

      .consultations-list-item.consultations-list-item--single
        .consultations-list-item__thumb
          img(src="/img/client/consultations/consultation-avatar.jpg")
        .consultations-list-item__content
          h1.consultations-list-item__title Афанасьева Юлия
          p.consultations-list-item__niche Психолог, сексолог
          p.consultations-list-item__about
            | But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart. That's not simply a matter of policy or ideology - it's a moral commitment. Understanding this reality a reminder of how we arrived at this point. But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart.
            br
            br
            | But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart. That's not simply a matter of policy or ideology - it's a moral commitment. Understanding this reality a reminder of how we arrived at this point. But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart.
          form
            .consultations-list-item-form
              .consultations-list-item-form__left
                .consultations-list-item-form__price
                  h1 Стоимость консультации:
                  .consultations-list-item-form__price-divider
                  p $20
                .formgroup-underline.consultations-list-item-form__formgroup
                  input(placeholder='Введите ваш логин Skype')
                .formgroup-underline.consultations-list-item-form__formgroup
                  label Введите точную дату рождения:
                  .formgroup-underline__inputs
                    select.formgroup-underline__input-1
                      option 01
                      option 01
                      option 01
                    p &mdash;
                    select.formgroup-underline__input-2
                      option Январь
                      option Январь
                    p &mdash;
                    select.formgroup-underline__input-3
                      option 1980
                      option 1980
                      option 1980
                .formgroup-underline.consultations-list-item-form__formgroup.consultations-list-item-form__formgroup--time
                  label Введите точное время рождения:
                  .formgroup-underline__inputs
                    input(placeholder="14").formgroup-underline__input-1
                    p :
                    input(placeholder="00").formgroup-underline__input-1
                .formgroup-underline.consultations-list-item-form__formgroup
                  input(placeholder='Введите ваш город рождения')
              .consultations-list-item-form__right
                button(type="submit").btn.consultations-list-item-form__submit Оплатить

  include ../partials/footer.jade
  include ../partials/scripts.jade
