extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  .main.main--aside
    .main-wrapper
      include ../partials/aside-feed

      .content
        .content-nav
          .content-nav__item
            select
              option рубрики
              option рубрики
          .content-nav__item
            select
              option весь период
              option весь период

        .content-inner
          a(href="#").back-link
            svg.back-link__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='7', height='9', viewbox='0 0 7 9')
              defs
                path#e6aga(d='M379 205l-4 3.54 4 3.46')
              g
                g(transform='translate(-373 -204)')
                  use(fill='#fff', fill-opacity='0', stroke='#b6b6b6', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#e6aga')
            | Назад
          .feed-block.feed-block--single
            .feed-block__thumb(style="background-image: url(/img/client/feed/thumb.jpg)")
              ul.feed-block-info
                li.feed-block-info__item.feed-block-info__item--type
                  .feed-block-info__item-icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12', height='11', viewbox='0 0 12 11')
                      defs
                        path#pa8qa(d='M378 294.2l-.03.03c-.36.37-.58.7-.79 1-.3.44-.57.83-1.16 1.2-.22.14-.56.21-1 .22h-1.19l.95.68c.36.26.6.5.69.75.25.63.23 1.1.2 1.62-.01.37-.03.76.03 1.26v.04l-.03-.02a7.4 7.4 0 0 0-1.23-.41c-.53-.15-1-.27-1.54-.7-.2-.15-.39-.44-.53-.85l-.37-1.08-.37 1.08c-.14.4-.32.7-.53.86-.55.42-1 .54-1.54.69-.37.1-.75.2-1.23.41l-.04.02v-.04c.07-.5.05-.89.04-1.26-.03-.53-.05-.99.2-1.62.1-.24.33-.5.69-.75l.95-.68h-1.18c-.45 0-.8-.08-1.01-.22-.6-.37-.85-.76-1.16-1.2-.21-.3-.43-.63-.79-1l-.03-.03h.05c.5-.1.88-.24 1.24-.37.52-.18.97-.34 1.67-.31.26 0 .58.14.95.4l.96.66-.36-1.08a1.76 1.76 0 0 1-.1-1c.19-.65.49-1.01.83-1.43.24-.29.48-.59.74-1.03l.02-.04.02.04c.26.44.5.74.74 1.03.34.42.64.78.83 1.43.07.25.04.58-.1 1l-.36 1.08.96-.66c.37-.26.69-.4.95-.4.7-.03 1.15.13 1.67.31.36.13.73.27 1.24.36zm-5 1.8a1 1 0 1 0-2 0 1 1 0 0 0 2 0z')
                      g
                        g(transform='translate(-366 -290)')
                          use(fill='#fff', xlink:href='#pa8qa')
                  p.feed-block-info__item-text Вдохновение
              .feed-block-favorite-button
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='23', height='22', viewbox='0 0 23 22')
                  defs
                    path#mvk4a(d='M1260.93 293.88l-6.27-1.33-3.2-5.55-3.2 5.55-6.26 1.33 4.3 4.75-.69 6.37 5.85-2.61 5.85 2.61-.68-6.37z')
                  g
                    g(transform='translate(-1240 -285)')
                      use(fill='#fff', fill-opacity='0', stroke='#fff', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#mvk4a')
              h1.feed-block__title Behind successful<br> man
              h2.feed-block__subtitle Online мастер-класс
            .feed-block-main
              .feed-block-main__date
                p
                  span 29
                  | Ноя
              .feed-block-main__text
                p But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart. That's not simply a matter of policy or ideology - it's a moral commitment. Understanding this reality a reminder of how we arrived at this point. <a href="#">America has a decent shot at life.</a>
                img(src="/img/client/feed/feed-single-image.jpg")
                h3.feed-block-main__text-caption But they sense, deep in their bones, that with just a slight change in priorities,<br> we can make sure that every child in America has a decent

            .feed-banner
              a(href="#" style="background-image: url(/img/client/feed/banner.jpg)").feed-banner__link

            .feed-block-footer
              ul.feed-block-footer-list
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12', height='12', viewbox='0 0 12 12')
                        defs
                          path#il1ya(d='M458.19 738.29c-1.53-1.32-3.57-1.38-4.85-.15a3.37 3.37 0 0 0-.92 3.2 3.25 3.25 0 0 0-3.18.76c-1.29 1.24-1.3 3.28-.03 4.85.05.08.33.46 1 .88.94.61 2.07.91 3.25.88l5.89-.19.44-5.93a5.66 5.66 0 0 0-.76-3.28c-.4-.67-.77-.97-.84-1.02z')
                        g
                          g(transform='translate(-448 -737)')
                            use(fill='#d2d2d2', xlink:href='#il1ya')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='13', viewbox='0 0 13 13')
                        defs
                          path#9bm2a(d='M537 742.5a6.5 6.5 0 1 1 10.9 4.79l2.03 1.71h-6.43a6.5 6.5 0 0 1-6.5-6.5z')
                          path#9bm2b(d='M540 742.55a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.73 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.72 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0z')
                        g
                          g(transform='translate(-537 -736)')
                            use(fill='#d2d2d2', xlink:href='#9bm2a')
                          g(transform='translate(-537 -736)')
                            g
                              use(fill='#fff', xlink:href='#9bm2b')
                    p.feed-block-footer-list__text 256

          .dialog.feed-single-dialog
            .dialog-textarea
              .dialog-header
                .avatar.dialog-header__avatar
                  img(src="/img/client/partials/header/avatar.png")
                p.dialog-header__name Ирина Евдокимова
              form.dialog-textarea__form
                textarea
                a(href="#").link-3-dots.dialog-textarea__form-submit
                  button(type="submit") оставить комментарий
                  .link-3-dots__dots
                    .link-3-dots__dot
                    .link-3-dots__dot
                    .link-3-dots__dot
            ul.dialog-messages
              li.dialog-message
                .dialog-header
                  .avatar.dialog-header__avatar
                    img(src="/img/client/partials/header/avatar.png")
                  p.dialog-header__name Ирина Евдокимова
                  p.dialog-header__date 21 Сентября
                .dialog-message-content
                  p.dialog-message-content__text But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open!
                  button.dialog-message-content__answer Ответить
              li.dialog-message.dialog-message--inner
                .dialog-header
                  .avatar.dialog-header__avatar
                    img(src="/img/client/partials/header/avatar.png")
                  p.dialog-header__name Ирина Евдокимова
                  p.dialog-header__date 21 Сентября
                .dialog-message-content
                  p.dialog-message-content__text But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open!
                  button.dialog-message-content__answer Ответить
            .dialog-more
              button.dialog-more__button еще комментарии
              svg.dialog-more__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='8', height='6', viewbox='0 0 8 6')
                defs
                  path#uffna(d='M947.5 2204.5l3.54 4 3.46-4')
                g
                  g(transform='translate(-947 -2204)')
                    use(fill='#fff', fill-opacity='0', stroke='#b6b6b6', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#uffna')


  include ../partials/footer.jade
  include ../partials/scripts.jade