extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  .main.main--aside.main--bg-bottom
    .main-wrapper
      include ../partials/aside-feed

      .content
        .content-nav
          .content-nav__item
            select
              option рубрики
              option рубрики
          .content-nav__item
            select
              option весь период
              option весь период
        .content-inner
          .month-divider
            p.month-divider__text ноябрь 2017

          .feed-block.feed-block--pinned
            .feed-block__thumb(style="background-image: url(/img/client/feed/thumb.jpg)")
              .feed-block__pinned-icon
              ul.feed-block-info
                li.feed-block-info__item.feed-block-info__item--category
                  p.feed-block-info__item-text Здоровье
              h1.feed-block__title Behind successful<br> man
              h2.feed-block__subtitle Online мастер-класс
            .feed-block-main
              .feed-block-main__date
                p
                  span 29
                  | Ноя
              .feed-block-main__text
                p But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart. That's not simply a matter of policy or ideology - it's a moral commitment. Understanding this reality a reminder of how we arrived at this point.
            .feed-block-footer
              ul.feed-block-footer-list
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12', height='12', viewbox='0 0 12 12')
                        defs
                          path#il1ya(d='M458.19 738.29c-1.53-1.32-3.57-1.38-4.85-.15a3.37 3.37 0 0 0-.92 3.2 3.25 3.25 0 0 0-3.18.76c-1.29 1.24-1.3 3.28-.03 4.85.05.08.33.46 1 .88.94.61 2.07.91 3.25.88l5.89-.19.44-5.93a5.66 5.66 0 0 0-.76-3.28c-.4-.67-.77-.97-.84-1.02z')
                        g
                          g(transform='translate(-448 -737)')
                            use(fill='#d2d2d2', xlink:href='#il1ya')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='13', viewbox='0 0 13 13')
                        defs
                          path#9bm2a(d='M537 742.5a6.5 6.5 0 1 1 10.9 4.79l2.03 1.71h-6.43a6.5 6.5 0 0 1-6.5-6.5z')
                          path#9bm2b(d='M540 742.55a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.73 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.72 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0z')
                        g
                          g(transform='translate(-537 -736)')
                            use(fill='#d2d2d2', xlink:href='#9bm2a')
                          g(transform='translate(-537 -736)')
                            g
                              use(fill='#fff', xlink:href='#9bm2b')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='12', viewbox='0 0 13 12')
                        defs
                          path#5afva(d='M152.62 399.6l-4.18-.88-2.13-3.7-2.13 3.7-4.18.88 2.86 3.17-.45 4.25 3.9-1.74 3.9 1.74-.45-4.25z')
                        g
                          g(transform='translate(-140 -395)')
                            use(fill='#d2d2d2', xlink:href='#5afva')
                    p.feed-block-footer-list__text Добавить в избранное
              a(href="#").link-3-dots.feed-block__link
                | Подробнее
                .link-3-dots__dots
                  .link-3-dots__dot
                  .link-3-dots__dot
                  .link-3-dots__dot

          .feed-block
            .feed-block__thumb(style="background-image: url(/img/client/feed/thumb.jpg)")
              ul.feed-block-info
                li.feed-block-info__item.feed-block-info__item--type
                  .feed-block-info__item-icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='6', height='9', viewbox='0 0 6 9')
                      defs
                        path#aygma(d='M373.5 305.5v-8l5 4z')
                      g
                        g(transform='translate(-373 -297)')
                          use(fill='#fff', xlink:href='#aygma')
                  p.feed-block-info__item-text Трансляция
                li.feed-block-info__item.feed-block-info__item--category
                  p.feed-block-info__item-text Здоровье
              h1.feed-block__title Behind successful<br> man
              h2.feed-block__subtitle Online мастер-класс
            .feed-block-main
              .feed-block-main__date
                p
                  span 29
                  | Ноя
              .feed-block-main__text
                p But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart. That's not simply a matter of policy or ideology - it's a moral commitment. Understanding this reality a reminder of how we arrived at this point.
            .feed-block-footer
              ul.feed-block-footer-list
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12', height='12', viewbox='0 0 12 12')
                        defs
                          path#il1ya(d='M458.19 738.29c-1.53-1.32-3.57-1.38-4.85-.15a3.37 3.37 0 0 0-.92 3.2 3.25 3.25 0 0 0-3.18.76c-1.29 1.24-1.3 3.28-.03 4.85.05.08.33.46 1 .88.94.61 2.07.91 3.25.88l5.89-.19.44-5.93a5.66 5.66 0 0 0-.76-3.28c-.4-.67-.77-.97-.84-1.02z')
                        g
                          g(transform='translate(-448 -737)')
                            use(fill='#d2d2d2', xlink:href='#il1ya')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='13', viewbox='0 0 13 13')
                        defs
                          path#9bm2a(d='M537 742.5a6.5 6.5 0 1 1 10.9 4.79l2.03 1.71h-6.43a6.5 6.5 0 0 1-6.5-6.5z')
                          path#9bm2b(d='M540 742.55a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.73 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.72 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0z')
                        g
                          g(transform='translate(-537 -736)')
                            use(fill='#d2d2d2', xlink:href='#9bm2a')
                          g(transform='translate(-537 -736)')
                            g
                              use(fill='#fff', xlink:href='#9bm2b')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='12', viewbox='0 0 13 12')
                        defs
                          path#5afva(d='M152.62 399.6l-4.18-.88-2.13-3.7-2.13 3.7-4.18.88 2.86 3.17-.45 4.25 3.9-1.74 3.9 1.74-.45-4.25z')
                        g
                          g(transform='translate(-140 -395)')
                            use(fill='#d2d2d2', xlink:href='#5afva')
                    p.feed-block-footer-list__text Добавить в избранное
              a(href="#").link-3-dots.feed-block__link
                | Подробнее
                .link-3-dots__dots
                  .link-3-dots__dot
                  .link-3-dots__dot
                  .link-3-dots__dot

          .feed-banner
            a(href="#" style="background-image: url(/img/client/feed/banner.jpg)").feed-banner__link


          .feed-block
            .feed-block__thumb(style="background-image: url(/img/client/feed/thumb.jpg)")
              ul.feed-block-info
                li.feed-block-info__item.feed-block-info__item--type
                  .feed-block-info__item-icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='13', viewbox='0 0 13 13')
                      defs
                        path#1kzta(d='M374.7 895.82l-2.2 2.16c-.25.24-.42.53-.5.85l3.13-2.3c.98.4 1.76.54 2.36.54 1.05 0 1.54-.4 1.54-.4-.98-.48-1.12-1.38-1.12-1.38.75.3 2.32.65 2.32.65 2.07-1.3 3.16-4.1 3.16-4.1-.22.05-.42.07-.61.07-.98 0-1.65-.59-1.65-.59l2.71-.55c.9-1.73 1-4.77 1-4.77l-8.26 6.88c-.93.77-1.6 1.8-1.88 2.94z')
                      g
                        g(transform='translate(-372 -886)')
                          use(fill='#fff', xlink:href='#1kzta')
                  p.feed-block-info__item-text Статья
                li.feed-block-info__item.feed-block-info__item--category
                  p.feed-block-info__item-text Семья и дом
              h1.feed-block__title being<br> a perfect woman
            .feed-block-main
              .feed-block-main__date
                p
                  span 29
                  | Ноя
              .feed-block-main__text
                p But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart. That's not simply a matter of policy or ideology - it's a moral commitment. Understanding this reality a reminder of how we arrived at this point.
            .feed-block-footer
              ul.feed-block-footer-list
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12', height='12', viewbox='0 0 12 12')
                        defs
                          path#il1ya(d='M458.19 738.29c-1.53-1.32-3.57-1.38-4.85-.15a3.37 3.37 0 0 0-.92 3.2 3.25 3.25 0 0 0-3.18.76c-1.29 1.24-1.3 3.28-.03 4.85.05.08.33.46 1 .88.94.61 2.07.91 3.25.88l5.89-.19.44-5.93a5.66 5.66 0 0 0-.76-3.28c-.4-.67-.77-.97-.84-1.02z')
                        g
                          g(transform='translate(-448 -737)')
                            use(fill='#d2d2d2', xlink:href='#il1ya')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='13', viewbox='0 0 13 13')
                        defs
                          path#9bm2a(d='M537 742.5a6.5 6.5 0 1 1 10.9 4.79l2.03 1.71h-6.43a6.5 6.5 0 0 1-6.5-6.5z')
                          path#9bm2b(d='M540 742.55a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.73 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.72 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0z')
                        g
                          g(transform='translate(-537 -736)')
                            use(fill='#d2d2d2', xlink:href='#9bm2a')
                          g(transform='translate(-537 -736)')
                            g
                              use(fill='#fff', xlink:href='#9bm2b')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='12', viewbox='0 0 13 12')
                        defs
                          path#5afva(d='M152.62 399.6l-4.18-.88-2.13-3.7-2.13 3.7-4.18.88 2.86 3.17-.45 4.25 3.9-1.74 3.9 1.74-.45-4.25z')
                        g
                          g(transform='translate(-140 -395)')
                            use(fill='#d2d2d2', xlink:href='#5afva')
                    p.feed-block-footer-list__text Добавить в избранное
              a(href="#").link-3-dots.feed-block__link
                | Подробнее
                .link-3-dots__dots
                  .link-3-dots__dot
                  .link-3-dots__dot
                  .link-3-dots__dot


          .month-divider.month-divider--disabled
            p.month-divider__text октябрь 2017

          .feed-block.feed-block--disabled
            .feed-block__thumb(style="background-image: url(/img/client/feed/thumb.jpg)")
              ul.feed-block-info
                li.feed-block-info__item.feed-block-info__item--type
                  .feed-block-info__item-icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='14', height='8', viewbox='0 0 14 8')
                      defs
                        path#xvnha(d='M383.9 1531.15h.95c.42.71 1.2 1.15 2.02 1.15h.11v-4.05h-.1c-.84 0-1.6.44-2.03 1.16h-.95z')
                        path#xvnhb(d='M373.68 1533.77v-6.97h9.7v6.97z')
                      g
                        g(transform='translate(-373 -1526)')
                          g
                            use(fill='#fff', xlink:href='#xvnha')
                          g
                            use(fill='#fff', xlink:href='#xvnhb')
                  p.feed-block-info__item-text Видео
                li.feed-block-info__item.feed-block-info__item--category
                  p.feed-block-info__item-text Здоровье
            .modal.modal-feed-closed
              .block-closed__header
                .block-closed__header-icon
                h1.block-closed__header-title Доступ ограничен
              .block-closed__main
                p.block-closed__main-text Чтобы просматривать более ранние материалы без ограничений,<br> приобретите к ним платный доступ
                a(href="#").btn.block-closed__main-link купить доступ

  include ../partials/footer.jade
  include ../partials/scripts.jade