extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  .main.main--aside
    .main-wrapper
      include ../partials/aside-feed

      .content
        .content-nav
          .content-nav__item
            select
              option рубрики
              option рубрики
          .content-nav__item
            select
              option весь период
              option весь период

        .content-inner
          a(href="#").back-link
            svg.back-link__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='7', height='9', viewbox='0 0 7 9')
              defs
                path#e6aga(d='M379 205l-4 3.54 4 3.46')
              g
                g(transform='translate(-373 -204)')
                  use(fill='#fff', fill-opacity='0', stroke='#b6b6b6', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#e6aga')
            | Назад
          .feed-block.feed-block--single
            .feed-block__thumb(style="background-image: url(/img/client/feed/thumb.jpg)")
              ul.feed-block-info
                li.feed-block-info__item.feed-block-info__item--type
                  .feed-block-info__item-icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='6', height='9', viewbox='0 0 6 9')
                      defs
                        path#aygma(d='M373.5 305.5v-8l5 4z')
                      g
                        g(transform='translate(-373 -297)')
                          use(fill='#fff', xlink:href='#aygma')
                  p.feed-block-info__item-text Трансляция
                li.feed-block-info__item.feed-block-info__item--category
                  p.feed-block-info__item-text Семья и дом
              .feed-block-favorite-button
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='23', height='22', viewbox='0 0 23 22')
                  defs
                    path#mvk4a(d='M1260.93 293.88l-6.27-1.33-3.2-5.55-3.2 5.55-6.26 1.33 4.3 4.75-.69 6.37 5.85-2.61 5.85 2.61-.68-6.37z')
                  g
                    g(transform='translate(-1240 -285)')
                      use(fill='#fff', fill-opacity='0', stroke='#fff', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#mvk4a')
              h1.feed-block__title Behind successful<br> man
              h2.feed-block__subtitle Online мастер-класс
              ul.feed-block-live-info
                li.feed-block-live-info__item.feed-block-live-info__item--date
                  .feed-block-live-info__item-icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='16', height='16', viewbox='0 0 16 16')
                      defs
                        path#5fpfa(d='M939.76 495a7.78 7.78 0 1 1-15.55-.02 7.78 7.78 0 0 1 15.55.02zm-1.29.63h-5.38a1.26 1.26 0 1 1-1.72-1.72V491h1.26v2.9c.19.1.35.27.46.46h5.38a6.48 6.48 0 0 0-1.45-3.5l-.87.86-.89-.89.87-.87a6.48 6.48 0 0 0-3.5-1.45v1.23h-1.26v-1.23a6.48 6.48 0 0 0-3.5 1.45l.86.87-.89.9-.87-.88a6.48 6.48 0 0 0-1.45 3.5h1.23v1.27h-1.23a6.48 6.48 0 0 0 1.45 3.5l.87-.87.9.9-.88.86c.98.8 2.18 1.33 3.5 1.45v-1.23h1.27v1.23a6.48 6.48 0 0 0 3.5-1.45l-.87-.87.9-.89.86.87a6.48 6.48 0 0 0 1.45-3.5z')
                      g
                        g(opacity='.7', transform='translate(-924 -487)')
                          g(opacity='.7')
                            use(fill='#d83540', xlink:href='#5fpfa')
                  p.feed-block-live-info__item-text 14 декабря в 19:00
                li(onclick="showPopup('#popup-live-rules');").feed-block-live-info__item.feed-block-live-info__item--rules.popup-link
                  .feed-block-live-info__item-icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='14.06', height='8', viewbox='0 0 14.06 8')
                      defs
                        path#ht2ba(d='M1160.73 491l-5.22 5.3-2.18-2.16-1.33 1.35 3.5 3.51 6.56-6.65z')
                        path#ht2bb(d='M1164.73 491l-5.22 5.3-1.36 1.35 1.36 1.35 6.55-6.65z')
                      g
                        g(transform='translate(-1152 -491)')
                          g(opacity='.5')
                            use(fill='#fff', xlink:href='#ht2ba')
                          g(opacity='.5')
                            use(fill='#fff', xlink:href='#ht2bb')
                  p.feed-block-live-info__item-text Правила
            .feed-block-main
              .feed-block-main__date
              .feed-block-main__text
                .feed-block-main__video(style="background-image: url(/img/client/feed/video-preview.jpg)")
            .feed-block-main.feed-block-main--no-lines
              .feed-block-main__date
                p
                  span 29
                  | Ноя
              .feed-block-main__text
                p But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open to all. It is on your lips and in your heart. That's not simply a matter of policy or ideology - it's a moral commitment. Understanding this reality a reminder of how we arrived at this point. <a href="#">America has a decent shot at life.</a>

            .feed-banner
              a(href="#" style="background-image: url(/img/client/feed/banner.jpg)").feed-banner__link

            .feed-block-footer
              ul.feed-block-footer-list
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12', height='12', viewbox='0 0 12 12')
                        defs
                          path#il1ya(d='M458.19 738.29c-1.53-1.32-3.57-1.38-4.85-.15a3.37 3.37 0 0 0-.92 3.2 3.25 3.25 0 0 0-3.18.76c-1.29 1.24-1.3 3.28-.03 4.85.05.08.33.46 1 .88.94.61 2.07.91 3.25.88l5.89-.19.44-5.93a5.66 5.66 0 0 0-.76-3.28c-.4-.67-.77-.97-.84-1.02z')
                        g
                          g(transform='translate(-448 -737)')
                            use(fill='#d2d2d2', xlink:href='#il1ya')
                    p.feed-block-footer-list__text 256
                li.feed-block-footer-list__item
                  a(href="#").feed-block-footer-list__link
                    .feed-block-footer-list__icon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='13', viewbox='0 0 13 13')
                        defs
                          path#9bm2a(d='M537 742.5a6.5 6.5 0 1 1 10.9 4.79l2.03 1.71h-6.43a6.5 6.5 0 0 1-6.5-6.5z')
                          path#9bm2b(d='M540 742.55a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.73 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0zm2.72 0a.78.78 0 1 1 1.55 0 .78.78 0 0 1-1.55 0z')
                        g
                          g(transform='translate(-537 -736)')
                            use(fill='#d2d2d2', xlink:href='#9bm2a')
                          g(transform='translate(-537 -736)')
                            g
                              use(fill='#fff', xlink:href='#9bm2b')
                    p.feed-block-footer-list__text 256

          .dialog.feed-single-dialog
            .dialog-textarea
              .dialog-header
                .avatar.dialog-header__avatar
                  img(src="/img/client/partials/header/avatar.png")
                p.dialog-header__name Ирина Евдокимова
              form.dialog-textarea__form
                textarea
                a(href="#").link-3-dots.dialog-textarea__form-submit
                  button(type="submit") оставить комментарий
                  .link-3-dots__dots
                    .link-3-dots__dot
                    .link-3-dots__dot
                    .link-3-dots__dot
            ul.dialog-messages
              li.dialog-message
                .dialog-header
                  .avatar.dialog-header__avatar
                    img(src="/img/client/partials/header/avatar.png")
                  p.dialog-header__name Ирина Евдокимова
                  p.dialog-header__date 21 Сентября
                .dialog-message-content
                  p.dialog-message-content__text But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open!
                  button.dialog-message-content__answer Ответить
              li.dialog-message.dialog-message--inner
                .dialog-header
                  .avatar.dialog-header__avatar
                    img(src="/img/client/partials/header/avatar.png")
                  p.dialog-header__name Ирина Евдокимова
                  p.dialog-header__date 21 Сентября
                .dialog-message-content
                  p.dialog-message-content__text But they sense, deep in their bones, that with just a slight change in priorities, we can make sure that every child in America has a decent shot at life, and that the doors of opportunity remain open!
                  button.dialog-message-content__answer Ответить
            .dialog-more
              button.dialog-more__button еще комментарии
              svg.dialog-more__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='8', height='6', viewbox='0 0 8 6')
                defs
                  path#uffna(d='M947.5 2204.5l3.54 4 3.46-4')
                g
                  g(transform='translate(-947 -2204)')
                    use(fill='#fff', fill-opacity='0', stroke='#b6b6b6', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#uffna')


  include ../partials/footer.jade
  include ../partials/scripts.jade
  include ../partials/popups/popup-live-rules.jade