extends ../layouts/main.jade

block contents

  .login-layout#login
    .main-wrapper
      .logo.login-logo

      .login-main
        .login-main__title Главные инсайты<br> для твоего перевоплощения
        form.login-main-form
          .formgroup-underline.login-main-form__formgroup
            input(type="email" placeholder='E-mail')
          .formgroup-underline.login-main-form__formgroup
            input(type="pass" placeholder='Пароль')
          button(type="submit").btn.login-main-form__submit Войти
          a(href="/registration").login-main-form__link Регистрация

