extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  .main.main--aside#notifications
    .main-wrapper
      include ../partials/aside-notifications

      .content
        .content-inner
          h2.page-subtitle Уведомление

          .notifications-list-layout
            #notifications-list-1.notifications-list-layout__item.notifications-list-layout__item--active
              ul.notifications-list
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
              a(href="#").btn.notifications-clear-btn Удалить все уведомления

            #notifications-list-2.notifications-list-layout__item
              ul.notifications-list
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
              a(href="#").btn.notifications-clear-btn Удалить все уведомления

            #notifications-list-3.notifications-list-layout__item
              ul.notifications-list
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
                li.notifications-list__item
                  a(href="#").notifications-list__item-link Новая статья “Заголовок”
                  p.notifications-list__item-text 12 дек 2017 в 17:30
              a(href="#").btn.notifications-clear-btn Удалить все уведомления


  include ../partials/footer.jade
  include ../partials/scripts.jade

  script.
    function notificationTabChange(element, item){
      if(!$(element).hasClass('aside-item--active')){
        $('.aside-item--active').removeClass('aside-item--active');
        $(element).addClass('aside-item--active');
        $('.notifications-list-layout__item--active').fadeOut(400, function(){
          $(this).removeClass('notifications-list-layout__item--active');
        });
        setTimeout(function(){
          $(item).fadeIn(400, function(){
            $(this).addClass('notifications-list-layout__item--active');
          })
        }, 400);
      }
    }