extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  #profile.main.main--aside
    .main-wrapper
      include ../partials/aside-profile.jade

      .content.content--profile
        .profile-edit
          .profile-edit-main
            h1.profile-title Информация о пользователе
            form.profile-edit-form
              .profile-formgroup
                label Фамилия
                input(type="text" placeholder="Ваша фамилия")
              .profile-formgroup
                label Имя
                input(type="text" placeholder="Ваше имя")
              .profile-formgroup
                label Отчество
                input(type="text" placeholder="Ваше отчество")
              .profile-formgroup
                label Дата рождения
                .profile-formgroup__bday-selects
                  select.profile-formgroup__bday-select.profile-formgroup__bday-select--1
                    option 01
                    option 01
                    option 01
                  .profile-formgroup__bday-selects-divider
                  select.profile-formgroup__bday-select.profile-formgroup__bday-select--2
                    option Январь
                    option Январь
                    option Январь
                  .profile-formgroup__bday-selects-divider
                  select.profile-formgroup__bday-select.profile-formgroup__bday-select--3
                    option 1980
                    option 1980
                    option 1980
              .profile-formgroup.profile-formgroup--short
                label Телефон
                input(type="text" placeholder="+38 (0 _ _ ) _ _ _ - _ _ - _ _")
              .profile-formgroup
                select
                  option Выберите Вашу страну из списка
                  option Выберите Вашу страну из списка
                  option Выберите Вашу страну из списка
              .profile-formgroup
                select
                  option Выберите Ваш город из списка
                  option Выберите Ваш город из списка
                  option Выберите Ваш город из списка
              button(type="submit").btn.btn--2.profile-edit-form__submit Сохранить изменения
          .profile-edit-aside
            h1.profile-title Фотография
            .profile-edit-aside__avatar
              img(src="/img/client/consultations/consultation-avatar.jpg")
            button.btn.btn--2.profile-edit-aside__load загрузить фото
            button.profile-edit-aside__delete удалить


  include ../partials/footer.jade
  include ../partials/scripts.jade