extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  #profile-payments.main.main--aside
    .main-wrapper
      include ../partials/aside-profile.jade

      .content.content--profile
        .profile-payments
          h1.profile-title Банковская карта
          h2.profile-subtitle Введите платежные данные, чтобы оплатить подписку.<br> Подписка продлевается автоматически
          .profile-payments-card
            .profile-payments-card-back
              .profile-payments-card-back__text CVC2
            .profile-payments-card-front
              p.profile-payments-card-front__text Номер карты
              input(type="text").profile-payments-card-front__input
              p.profile-payments-card-front__text Срок действия
              .profile-payments-card-front__selects
                select.profile-payments-card-front__select.profile-payments-card-front__select--1
                  option 01
                  option 01
                  option 01
                p.profile-payments-card-front__selects-divider
                select.profile-payments-card-front__select.profile-payments-card-front__select--2
                  option 2018
                  option 2018
                  option 2018
          .profile-payments-btns
            button.btn.btn--2.profile-payments-btn Сохранить данные
            button.btn.btn--2.btn--gray.profile-payments-btn Отключить карту


  include ../partials/footer.jade
  include ../partials/scripts.jade