extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  #profile-payments-history.main.main--aside
    .main-wrapper
      include ../partials/aside-profile.jade

      .content.content--profile
        .profile-payments-history
          .profile-payments-history__header
            .profile-payments-history__header-item.profile-payments-history__header-item--date Дата
            .profile-payments-history__header-item.profile-payments-history__header-item--content Тип оплаты
          .profile-payments-history__main
            .profile-payments-history__main-item.profile-payments-history__main-item--date.list-item-dot 11.12.2017
            .profile-payments-history__main-item.profile-payments-history__main-item--content
              ul.profile-payments-history__main-item-list
                li.profile-payments-history__main-item-list-item
                  p.profile-payments-history__main-item-list-item-text Новое вдохновение “Заголовок”
          .profile-payments-history__main
            .profile-payments-history__main-item.profile-payments-history__main-item--date.list-item-dot 11.12.2017
            .profile-payments-history__main-item.profile-payments-history__main-item--content
              ul.profile-payments-history__main-item-list
                li.profile-payments-history__main-item-list-item
                  p.profile-payments-history__main-item-list-item-text Новое вдохновение “Заголовок”
          .profile-payments-history__main
            .profile-payments-history__main-item.profile-payments-history__main-item--date.list-item-dot 11.12.2017
            .profile-payments-history__main-item.profile-payments-history__main-item--content
              ul.profile-payments-history__main-item-list
                li.profile-payments-history__main-item-list-item
                  p.profile-payments-history__main-item-list-item-text Новое вдохновение “Заголовок”
                li.profile-payments-history__main-item-list-item
                  p.profile-payments-history__main-item-list-item-text Новое вдохновение “Заголовок”
                li.profile-payments-history__main-item-list-item
                  p.profile-payments-history__main-item-list-item-text Новое вдохновение “Заголовок”
                li.profile-payments-history__main-item-list-item
                  p.profile-payments-history__main-item-list-item-text Новое вдохновение “Заголовок”

  include ../partials/footer.jade
  include ../partials/scripts.jade