extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  #profile-notifications.main.main--aside
    .main-wrapper
      include ../partials/aside-profile.jade

      .content.content--profile
        .profile-notifications
          h1.profile-title Получать оповещания об изменениях на e-mail:
          ul.profile-notifications-list
            li.profile-notifications-list__item
              .custom-checkbox.profile-notifications-list__item-checkbox
                input#inspiration-checkbox(type="checkbox")
                label(for="inspiration-checkbox") Вдохновение
                  .custom-checkbox__box
            li.profile-notifications-list__item
              .custom-checkbox.profile-notifications-list__item-checkbox
                input#articles-checkbox(type="checkbox")
                label(for="articles-checkbox") Статьи
                  .custom-checkbox__box
            li.profile-notifications-list__item
              .custom-checkbox.profile-notifications-list__item-checkbox
                input#videos-checkbox(type="checkbox")
                label(for="videos-checkbox") Видео
                  .custom-checkbox__box
            li.profile-notifications-list__item
              .custom-checkbox.profile-notifications-list__item-checkbox
                input#live-checkbox(type="checkbox")
                label(for="live-checkbox") Трансляции
                  .custom-checkbox__box
            li.profile-notifications-list__item
              .custom-checkbox.profile-notifications-list__item-checkbox
                input#consultations-checkbox(type="checkbox")
                label(for="consultations-checkbox") Личные консультации
                  .custom-checkbox__box
            li.profile-notifications-list__item
              .custom-checkbox.profile-notifications-list__item-checkbox
                input#programs-checkbox(type="checkbox")
                label(for="programs-checkbox") Программы
                  .custom-checkbox__box
          button(type="submit").btn.btn--2.profile-notifications-submit Сохранить изменения


  include ../partials/footer.jade
  include ../partials/scripts.jade