extends ../layouts/main.jade

block contents

  .login-layout#registration
    .main-wrapper
      .logo.login-logo

      .registration
        h1.registration__title Регистрация

        .registration-steps
          .registration-steps__divider.registration-steps__divider--1
          .registration-steps__divider.registration-steps__divider--2
          .registration-step.registration-step--1.registration-step--active
            .registration-step__number
              .registration-step__number-check
              svg.registration-step__number-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50', height='43', viewbox='0 0 50 43')
                defs
                  path#5ic8a(d='M353.55 227.64c14.72-5.87 23.85 5.43 32.85 11.92 7.5 5.4-2.74 18.7-11.62 26.2-8.87 7.48-27.65.99-33.3-9-5.63-9.98-1.73-23.64 12.07-29.12z')
                g
                  g(opacity='.4', transform='translate(-339 -226)')
                    use(fill='#d8d8d8', xlink:href='#5ic8a')
              p.registration-step__number-text 1
            h2.registration-step__title Данные о Вас
          .registration-step.registration-step--2
            .registration-step__number
              .registration-step__number-check
              svg.registration-step__number-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='45', height='49', viewbox='0 0 45 49')
                defs
                  path#u7k7a(d='M697.57 246.62c2.29-15.69 16.63-17.94 26.75-22.5 8.42-3.79 14.83 11.74 16.88 23.17 2.04 11.43-12.96 24.45-24.43 24.34-11.47-.12-21.35-10.32-19.2-25.01z')
                g
                  g(opacity='.4', transform='translate(-697 -223)')
                    use(fill='#d8d8d8', xlink:href='#u7k7a')
              p.registration-step__number-text 2
            h2.registration-step__title Платежные данные
          .registration-step.registration-step--3
            .registration-step__number
              .registration-step__number-check
              svg.registration-step__number-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='47', height='43', viewbox='0 0 47 43')
                defs
                  path#ngbda(d='M1101.1 259.38c-9.82 12.44-23.37 7.22-34.41 6.1-9.2-.92-6.97-17.57-3.04-28.5 3.95-10.92 23.46-14.69 33.33-8.86 9.88 5.83 13.33 19.61 4.12 31.26z')
                g
                  g(opacity='.4', transform='translate(-1060 -225)')
                    use(fill='#d8d8d8', xlink:href='#ngbda')
              p.registration-step__number-text 3
            h2.registration-step__title Журнал

        form.registration-form-layout
          .registration-step-content.registration-step-content--1.registration-step-content--active
            .registration-form
              .registration-form__left
                .profile-formgroup.registration-form__formgroup
                  label Имя
                  input(type="text" placeholder="Ваше имя")
                .profile-formgroup.registration-form__formgroup
                  label Телефон
                  input(type="tel" placeholder="+38 (0 _ _ ) _ _ _ - _ _ - _ _")
              .registration-form__right
                .profile-formgroup.registration-form__formgroup
                  label E-mail
                  input(type="email" placeholder="Ваш E-mail")
                .profile-formgroup.registration-form__formgroup
                  label Придумайте пароль
                  input(type="pass" placeholder="Ваш пароль")
            div(onclick="registrationNextStep('2')").btn.registration-form-submit
              | Дальше
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='7', height='9', viewbox='0 0 7 9')
                defs
                  path#slnla(d='M1059 631l4 3.54-4 3.46')
                g
                  g(transform='translate(-1058 -630)')
                    use(fill='#fff', fill-opacity='0', stroke='#f77', stroke-miterlimit='50', stroke-width='1.5', xlink:href='#slnla')

          .registration-step-content.registration-step-content--2
            .profile-payments-card
              .profile-payments-card-back
                .profile-payments-card-back__text CVC2
              .profile-payments-card-front
                p.profile-payments-card-front__text Номер карты
                input(type="text").profile-payments-card-front__input
                p.profile-payments-card-front__text Срок действия
                .profile-payments-card-front__selects
                  select.profile-payments-card-front__select.profile-payments-card-front__select--1
                    option 01
                    option 01
                    option 01
                  p.profile-payments-card-front__selects-divider
                  select.profile-payments-card-front__select.profile-payments-card-front__select--2
                    option 2018
                    option 2018
                    option 2018
            .registration-form-card-right
              .custom-checkbox.registration-form-card-right__checkbox
                input#inspiration-checkbox(type="checkbox")
                label(for="inspiration-checkbox") Я соглашаюсь с <a href="#">Договором оферты</a>
                  .custom-checkbox__box
              div(onclick="registrationNextStep('3')").btn.registration-form-submit Оплатить

  script.
    function registrationNextStep(nextStep) {
      $('.registration-step-content--active').fadeOut(300, function(){
        $(this).removeClass('registration-step-content--active');
      });
      $('.registration-step--active').removeClass('registration-step--active').addClass('registration-step--done');
      $('.registration-step--' + nextStep).addClass('registration-step--active');
      setTimeout(function(){
        $('.registration-step-content--' + nextStep).fadeIn(300, function () {
          $(this).addClass('registration-step-content--active');
        });
      }, 300)
    };