.aside {
 width: 200px;
 padding: 17px 11px 0 0;
 border-right: 1px solid $color-gallery;

 &.aside--profile {
  width: 260px;
  padding: 25px 30px 0 0;
 }
}

.aside-link {
 font-weight: 600;
 line-height: 42px;
 text-transform: uppercase;

 &.aside-link--active {
  color: $color-valencia;
 }
}

.aside-list {

 &.aside-list--border {
  border-top: 1px solid $color-gallery;
  padding: 28px 0;
  margin-top: 28px;
 }

 &.aside-list--profile {

  .aside-item {

   .aside-item__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    margin-right: 0;
   }
  }
 }

 &.aside-list--notifications {

  .aside-item {

   .aside-item__link {
    color: $color-dusty-gray;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
     color: $color-valencia;
    }
   }

   &.aside-item--active {
    &:before {
     background-color: $color-cod-gray;
    }

    .aside-item__link {
     color: $color-valencia;
    }
   }
  }
 }
}
.aside-item {
 display: flex;
 align-items: center;
 padding-left: 22px;
 position: relative;
 &:before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: $color-gallery;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  transition: 0.5s;
 }
 &.aside-item--active {

  &:before {
   width: 6px;
   height: 6px;
   background-color: $color-valencia;
   left: 6px;
   top: calc(50% - 3px);
  }
  .aside-item__link {
   color: $color-cod-gray;
  }
 }

 .aside-item__icon {
  display: flex;
  align-items: center;
  width: 20px;
  margin-right: 6px;
 }

 .aside-item__link {
  flex: 1;
  margin-right: 6px;
  transition: 0.5s;
  &:hover {
   color: $color-cod-gray;
  }
 }
 .aside-item__counter {
  width: 22px;
  height: 20px;
  background: url(../../img/client/common/drop-icon.svg) no-repeat center / contain;
  color: $color-white;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.11px;
  text-align: center;
 }

 &.aside-item--icon {
  padding-left: 0;
  &:before {
   display: none;
  }

  &.aside-item--active {

   .aside-item__icon svg {

    g {
     opacity: 1;
    }
    use {
     fill: $color-valencia;
     opacity: 1;
    }
   }
  }
 }
}

.aside-favorites {
 width: 140px;
 display: flex;
 align-items: center;
 border-top: 1px solid $color-gallery;
 padding-top: 21px;
 margin-top: 21px;

 .aside-favorites__icon {
  width: 13px;
  height: 12px;
  background: url(../../img/client/common/star-icon.svg) no-repeat center / contain;
  margin-right: 6px;
 }
 .aside-favorites__link {

  &:hover {
   color: $color-cod-gray;
  }
 }
}
