.main-footer {
 flex: 0 0 auto;
 padding: 62px 0 61px;
 background: $color-black;
 overflow: hidden;

 .main-wrapper {
  display: flex;
  justify-content: space-between;
 }

 .logo {
  margin-top: 9px;
 }
}

.main-wrapper.main-footer-bottom {
 margin-top: 43px;
}

.main-footer-list {

 .main-footer-list__item {
  margin-bottom: 8px;
  &:last-child {
   margin-bottom: 0;
  }

  > a {
   color: $color-white;
   font-size: 13px;
   font-weight: 600;
   line-height: 31px;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   &:hover {
    color: $color-valencia;
   }
  }
 }
}

.main-footer-socials {
 width: 340px;
 margin-top: 18px;

 .main-footer-socials__title {
  margin-bottom: 9px;
 }
}
.main-footer-copy, .main-footer-socials .main-footer-socials__title, .main-footer-developed p {
 color: $color-mine-shaft;
 font-size: 15px;
 line-height: 25px;
}

.main-footer-developed {
 display: flex;
 align-items: center;

  p {
   margin-right: 10px;
  }
 a {
  display: block;
  &:hover {

   svg g {
    fill: $color-valencia;
   }
  }

  svg {
   width: auto;
   height: 16px;

   g {
    fill: $color-white;
    transition: 0.5s;
   }
  }
 }
}