.main-header {
 flex: 0 0 auto;

 .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-gallery;
  padding: 33px 0 26px;
 }
}

.main-header-nav {
 flex: 1;
 display: flex;
 align-items: center;
 margin-left: 65px;

 .main-header-nav__item {
  margin-right: 60px;
  &:last-child {
   margin-right: 0;
  }

  a {
   color: $color-cod-gray;
   font-size: 14px;
   font-weight: 600;
   line-height: 17px;
   text-transform: uppercase;
  }

  &.main-header-nav__item--active, &:hover {

   a {
    color: $color-valencia;
   }
  }
 }
}

.main-header-btns {
 display: flex;
 align-items: center;
}
.main-header-notifications {
 width: 22px;
 height: 20px;
 margin-right: 49px;
 position: relative;

 .main-header-notifications__icon {
  width: 100%;
  height: 100%;
  background: url(../../img/client/common/bell-icon.svg) no-repeat center / contain;
  position: relative;
  cursor: pointer;
 }
 .main-header-notifications__counter {
  width: 17px;
  height: 16px;
  background: url(../../img/client/partials/header/notifications-counter.svg) no-repeat center / contain;
  color: $color-valencia;
  font-size: 8px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.09px;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -8px;
 }

 .main-header-notifications__toggle {
  width: 340px;
  top: 35px;
  right: -37px;

  .main-header-notifications__toggle-link {
   width: 180px;
   font-family: Helvetica, sans-serif;
   font-size: 11px;
   letter-spacing: 1.57px;
   margin: 36px auto 0;
   padding: 12px 10px 10px;
  }
 }
}
.main-header-profile {
 background: url(../../img/client/common/arrow-more.svg) no-repeat center right;
 color: $color-black;
 font-size: 16px;
 line-height: 19px;
 letter-spacing: -0.17px;
 padding-right: 18px;
 margin-right: 19px;
}
.main-header-avatar {
 width: 58px;
 height: 58px;
 display: block;
 border-radius: 50%;
 position: relative;
 cursor: pointer;

 img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
 }

 .main-header-avatar__toggle {
  width: 260px;
  padding: 23px 42px 24px 42px;
  top: 72px;
  right: -28px;
  &:before {
   right: 50px;
  }
 }
}

.profile-toggle-list {

 .profile-toggle-list__item {
  display: flex;
  align-items: center;

  .profile-toggle-list__item-icon {
   width: 25px;
  }
  .profile-toggle-list__item-link {
   color: $color-black;
   font-size: 14px;
   line-height: 42px;
   &:hover {
    color: $color-valencia;
   }
  }
 }

 &.profile-toggle-list--exit {
  border-top: 1px solid $color-gallery;
  margin-top: 21px;
  padding-top: 21px;
 }
}