.modal {
 width: 890px;
 background: $color-white;
 position: absolute;
 left: calc(50% - 445px);
}

.modal-feed-closed {
 padding: 72px 46px 91px;
 top: 106px;
}

.block-closed__main {
 display: flex;
 align-items: center;
 margin-top: 24px;

 .block-closed__main-text {
  flex: 1;
  color: $color-black;
  font-size: 16px;
  line-height: 24px;
  padding-left: 86px;

  h3 {

  }
  .block-closed__main-price {
   font-size: 14px;
   line-height: 24px;
   text-transform: uppercase;

   span {
    font-family: GaramondPremierPro, sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 10px;
   }
  }
 }
 .block-closed__main-link {

 }
}

.block-closed__header {
 display: flex;
 align-items: center;

 .block-closed__header-icon {
  width: 70px;
  height: 59px;
  background: url(../../img/client/common/lock-icon.svg) no-repeat center, url(../../img/client/common/drop-icon-2.svg) no-repeat center / contain;
  margin-right: 26px;
 }
 .block-closed__header-title {
  color: $color-black;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 36px;
  font-style: italic;
 }
}

.toggle {
 display: none;
 background-color: $color-alabaster;
 padding: 38px 38px 26px;
 position: absolute;
 z-index: 10;
 &:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent $color-alabaster transparent;
  position: absolute;
  top: -8px;
  right: 40px;
 }
}
.toggle-list {

 .toggle-list__item {
  margin-bottom: 21px;
  &:last-child {
   margin-bottom: 0;
  }

  .toggle-list__item-link, .toggle-list__item-date {
   font-size: 14px;
   line-height: 21px;
   padding-left: 12px;
  }
  .toggle-list__item-link {
   color: $color-black;
   position: relative;
   &:before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: $color-cod-gray;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0;
    transition: 0.5s;
   }
   &:hover {
    color: $color-cardinal;
    &:before {
     background-color: $color-cardinal;
    }
   }
  }
  .toggle-list__item-date {
   color: $color-silver-chalice-2;
  }
 }
}