.popup-layout {
 display: none;
 width: 100%;
 height: 100vh;
 background: $color-cod-gray-02;
 position: fixed;
 top: 0;
 left: 0;
 overflow: hidden;
 z-index: 999;
}
.popup-scrollarea {
 height: 100%;
 width: 100%;
 overflow: auto;
}

.popup {
 width: 890px;
 background: $color-white;
 margin: 8% auto 1%;
 padding: 70px 125px 90px 45px;
 position: relative;

 .popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 42px;
  right: 39px;
  cursor: pointer;
  &:hover {

   .popup__close-line {
    background-color: $color-cod-gray;
   }
  }

  .popup__close-line {
   width: 3px;
   height: 18px;
   background-color: $color-alto-3;
   transform: rotate(45deg);
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.5s;
   &:nth-child(2) {
    transform: rotate(-45deg);
   }
  }
 }

 p {
  color: $color-black;
 }
 h1 {
  color: $color-black;
  font-family: GaramondPremierPro, sans-serif;
  font-size: 36px;
  font-style: italic;
  line-height: 36px;
 }

 &.popup--bg-bottom {
  background: url(../../img/client/partials/popups/popup-bg.jpg) no-repeat center bottom / 100% auto, $color-white;
 }
}

.popup-live-rules {

 .popup-live-rules__title {
  display: flex;
  align-items: center;

  svg {
   margin-right: 25px;
  }
 }
 .popup-live-rules__text {
  padding-left: 94px;
  margin-top: 25px;
 }
}